[2019-01-31 12:31] NikoRoberts commented on #591
I had a bit of a go today trying to merge the latest changes with that branch but the latest changes conflict a lot.
I'll see if I can merge both and not end up with any rubocop violations

[2019-02-01 16:17] drwl commented on #547
@KaneMorgan I tried getting to this a while back and this was the response he sent to me

I got stuck at the git flow config part but would be happy to work together on this if you're interested.

[2019-02-02 08:03] nard-tech opened #597 "codeclimate-test-reporter (deprecated) shows warnings"
[codeclimate-test-reporter](https://github.com/codeclimate/ruby-test-reporter) (deprecated) shows a warning message.

In addition, other warnings are displayed due to an old version of `simplecov` (0.12.0), on which `codeclimate-test-reporter` depends.

I tried to remove these messages, but it seems to be impossible because configuring CircleCI for `annotate_models` is required.

## Commands

[cod

[2019-02-13 11:23] poyzn opened #599 "annotate constantly puts a blank line after magic comment"
Hello, thanks for useful gem.
I have a small issue. Here is a starting condition:

[code]
after first run `annotate` it adds a blank line:
[code]
after second run it add one more blank line and so on.
It seems that the problem is connected to annotation position and magic comments - I have `'position_in_class'  => 'bottom'` in annotate config. There's no problem if there's no magic comments in the

[2019-02-13 11:48] poyzn commented on #599
Hm, for some reason I have `magic_comments.join + "\n"` in `magic_comments_as_string` function. But not in your codebase.

[2019-02-13 12:22] #599 closed

[2019-02-13 16:09] janosrusiczki commented on #430
I can reproduce the issue on:

ruby 2.5.3p105
rails 5.2.1
annotate 2.7.4
activerecord-postgis-adapter 5.2.1

I have the same problem:

    bounding_box      :geography({:srid geometry, 4326

[2019-02-13 18:52] yiweig opened #600 "Compatibility with data_migrate gem"
The [data-migrate](https://github.com/ilyakatz/data-migrate) gem adds data migrations via `rake db:migrate:with_data` (among others) but it seems that this annotate gem is only triggered when the vanilla version of `db:migrate` is run.

I'm new to the Ruby/Rails world, and was wondering what the suggested way to make these two gems compatible would be. Are you open to PRs? I'd be happy to take a s

[2019-02-14 16:19] #430 closed

[2019-02-14 16:21] ctran commented on #600
The kosher way is to have your own Rakefile.  It doesn't make sense to couple these gems.

[2019-02-14 16:26] ctran commented on #541
Sorry for missing this.  If you open a PR with the correct change, I'll merge it.

[2019-02-14 16:26] #541 closed

[2019-02-14 16:26] #540 closed

[2019-02-14 16:27] #539 closed

[2019-02-14 16:29] ctran commented on #547
This was released.  I'll make another release this weekend.  The majority of the work is reviewing the resolved issues and make release notes, if someone can help with that, I'll do more frequent releases.

[2019-02-14 16:29] #547 closed

[2019-02-14 16:30] #564 closed

[2019-02-14 16:30] #523 closed

[2019-02-14 16:31] #512 closed

[2019-02-14 16:31] #506 closed

[2019-02-14 16:32] #504 closed

[2019-02-14 16:33] #537 closed

[2019-02-14 16:34] ctran commented on #317
PR is welcome but I'm closing this.

[2019-02-14 16:34] #317 closed

[2019-02-14 16:34] #501 closed

[2019-02-14 16:35] #503 closed

[2019-02-14 16:35] #499 closed

[2019-02-14 16:35] #498 closed

[2019-02-14 16:36] ctran commented on #488
PR is welcome.

[2019-02-14 16:36] #488 closed

[2019-02-14 16:36] #487 closed

[2019-02-14 16:37] #500 closed

[2019-02-14 16:37] #460 closed

[2019-02-14 16:37] #457 closed

[2019-02-14 16:38] #149 closed

[2019-02-14 16:38] #184 closed

[2019-02-14 16:38] #199 closed

[2019-02-14 16:38] #220 closed

[2019-02-14 16:39] #253 closed

[2019-02-14 16:39] #300 closed

[2019-02-14 16:39] #301 closed

[2019-02-14 16:39] #311 closed

[2019-02-14 16:39] #321 closed

[2019-02-14 16:40] #334 closed

[2019-02-14 16:40] #338 closed

[2019-02-14 16:40] #340 closed

[2019-02-14 16:40] #346 closed

[2019-02-14 16:40] #349 closed

[2019-02-14 16:40] #350 closed

[2019-02-14 16:40] #355 closed

[2019-02-14 16:40] #357 closed

[2019-02-14 16:40] #369 closed

[2019-02-14 16:40] #371 closed

[2019-02-14 16:40] #373 closed

[2019-02-14 16:40] #380 closed

[2019-02-14 16:40] #384 closed

[2019-02-14 16:40] #394 closed

[2019-02-14 16:40] #403 closed

[2019-02-14 16:40] #406 closed

[2019-02-14 16:40] #413 closed

[2019-02-14 16:40] #417 closed

[2019-02-14 16:40] #433 closed

[2019-02-14 16:40] #434 closed

[2019-02-14 16:40] #437 closed

[2019-02-14 16:40] #440 closed

[2019-02-14 16:40] #444 closed

[2019-02-14 16:40] #452 closed

[2019-02-14 16:40] #453 closed

[2019-02-14 16:40] #461 closed

[2019-02-14 16:40] #532 closed

[2019-02-14 16:40] #543 closed

[2019-02-14 16:41] #544 closed

[2019-02-14 16:41] ctran commented on #548
PR is welcome.

[2019-02-14 16:41] #548 closed

[2019-02-14 16:42] ctran commented on #549
This is not customizable but PR is welcome.

[2019-02-14 16:42] #549 closed

[2019-02-14 16:43] ctran commented on #551
PR is welcome.

[2019-02-14 16:43] #551 closed

[2019-02-14 16:43] ctran commented on #562
PR is welcome.

[2019-02-14 16:43] #562 closed

[2019-02-14 16:47] #565 closed

[2019-02-14 16:50] ctran commented on #568
If this is specific to PostGresql, I can only take PR since I don't have the time and environment to reproduce/debug this.

[2019-02-14 16:51] ctran commented on #567
Can you make a test to reproduce this?

[2019-02-14 16:51] #583 closed

[2019-02-14 16:53] ctran commented on #570
Is it possible to give me a complete model to reproduce this?  Even better if you can update one of the existing test cases.

[2019-02-14 16:53] yiweig commented on #600
@ctran cool, thanks for the tip there. I'll close this.

[2019-02-14 16:53] #600 closed

[2019-02-14 18:27] aleksandrs-ledovskis commented on #300
Sad to see this closed without resolution. @ctran Are you willing to consider this change as community provided PR

[2019-02-14 19:33] ctran commented on #300
Yes, I will accept any PR that is useful for the community and does not cause incompatibility.  Just dont have bandwidth on new features.

[2019-02-15 01:33] tsuwatch commented on #567
Sorry, it was my misunderstanding.

[2019-02-15 01:33] #567 closed

[2019-02-15 08:11] arparthasarathi commented on #537
Hi @ctran, I hope the issue still persists and haven't got any update on the issue to work upon with. Is there any fix available or way to resolve this?

[2019-02-15 22:06] manuelmeurer commented on #413
Is this fixed?

[2019-02-15 22:48] dinjas commented on #563
FWIW, I have noticed that any time I use the `-r` flag annotate will only update annotations in the routes file.

[2019-02-17 06:37] nicktime commented on #570
Ok, I'll try to add a test for this.

[2019-02-18 06:40] ctran commented on #413
Hi @manuelmeurer,
I'm closing out old issues without any activity.  If you still have a problem, please open a new issue with more relevant information.

[2019-02-18 07:47] manuelmeurer commented on #413
Just tried it again, seems work fine! 👍

[2019-02-18 10:51] nicktime commented on #570
Done.

[2019-02-18 16:08] peterfication commented on #541
I made the rebase on the current `develop` branch and created a PR: https://github.com/ctran/annotate_models/pull/602

[2019-02-20 13:19] vizcay commented on #567
@tsuwatch I'm still having the same issue:

* annotate 2.7.4
* rails 4.2.10

I run `rails g annotate:install` to recreate the `auto_annotate_models.rake` file and there I update this:

[code]

When I run `$ bundle exec rake annotate_models` the schema gets added to the beginning of those. Other options work correctly, for example I was able to set `      'show_foreign_keys'         => 'false',
` w

[2019-02-23 12:30] yokomotod commented on #317
+1 for this motivation and tried to submit PR #603

very often I met changing annotations just after pull master and run migrate
because someone (sometimes, myself 😝) forgot to commit annotations...
I really want to detect it on CI.

[2019-02-28 21:17] fa-cruzfernandez commented on #444
I'm getting a pretty similar error on my rails 3 app (with 2.7.1, 2.6.5 and 2.6.3) when I ran annotate command:
[code]

Not sure if there's something weird in my app interacting though.

[2019-03-04 16:28] kovalevsky commented on #578
@fsateler i'm sorry for a late response. Yes, switching on master branch helped me.

[2019-03-04 16:28] #578 closed

[2019-03-04 16:29] kovalevsky commented on #578
And yes, it would be nice to have it released!

[2019-03-05 08:32] ts-3156 opened #606 "Sort option doesn't work"
It seems like that the sort option doesn't work. Could you tell me the reason why this gem doesn't change the annotations?

Model file:
https://github.com/ts-3156/egotter/blob/master/app/models/search_log.rb

Config file:
https://github.com/ts-3156/egotter/blob/master/lib/tasks/auto_annotate_models.rake

## Commands

[code]

Change sort option to true:

[code]

[code]

## Version

- annotate versi

[2019-03-05 20:27] ts-3156 commented on #606
Sorry, I missed `classified_sort` option... I close this issue.

[2019-03-05 20:27] #606 closed

[2019-03-08 00:21] robturtle opened #607 "No empty line between magic comment and schema information"
The annotation still does not append one empty line after the magic comment.

The magic comment is
[code]

Looks like it did add an empty line for a new model file. But it eats up the empty line when the model schema is being modified.

## Commands

[code]
The annotation options:
[code]

## Version

- annotate version 2.7.4
- rails version 5.2.2
- ruby version 2.6.1p33 (2019-01-30 revision 66950)

[2019-03-15 14:48] ksouthworth commented on #563
I'm also experiencing this, any idea when v2.7.5 release is coming with the fix?  Thanks!

[2019-03-15 15:06] jmschneider commented on #563
I'm also experiencing this. Does this relate to the changes from issue #485?

[2019-03-21 12:57] lucker14 opened #610 "Custom sort order for model annotation"
We would love to implement custom sort to this gem. It should let you decide the order of output, because sometimes you don't want the order given in classified sort.

How I would do that:
Add new option parameters 'sort_order' - array representing the order of output e.g. [pk, associations, rest_cols, timestamps] and boolean param 'custom_sort'.
The sort method could be almost entirely same as cl

[2019-03-29 19:20] janosrusiczki commented on #430
@ctran I don't understand why you closed this as the issue still reproduces. Or am I doing something wrong?

[2019-03-29 19:25] ctran commented on #430
I don't have the bandwidth or environment to look into issues related to postg.  You'll have to provide PR if you want this fixed.

[2019-03-29 19:26] ctran commented on #430
This was closed due to @dv comment that it was fixed.

[2019-04-03 14:32] Adeynack commented on #433
@ctran : You closed the issue on Feb. 14th. However, the last release I see on GH dates 2018. Is this feature here bundled in this last release (2.7.4) or not yet? If not yet, when will it be? My team wants to use that feature.

[2019-04-08 09:06] kreintjes commented on #591
@NikoRoberts any progress on this?

[2019-04-08 09:06] kreintjes commented on #607
Possibly related to https://github.com/ctran/annotate_models/issues/591

[2019-04-08 12:52] NikoRoberts commented on #591
No luck. I went back to manually removing the lines every time I run migrate :'(
It isn't quite causing me enough pain yet

[2019-04-08 18:22] ctran commented on #610
All pull requests are welcome when they satisfy the following:
* Not break existing behavior
* Useful for others (general enough)
* Pass CI

Regarding this, can you tell me more about its motivation?  Why is a custom sort order useful?

[2019-04-13 17:04] AlexVentura commented on #563
I have the same problem, after modifying the options `'routes'  => 'true',` when running `rake:db:migrate` it just don't work anymore until manually run `be rake annotate_models`.

Ruby: 2.5.3
Rails: 5.2.0
Annotate: 2.7.4

[2019-04-26 09:07] narender2031 commented on #124
I am still facing this issue anyone have an idea about it

[2019-04-28 18:13] drwl commented on #570
@nicktime So the test added in #601 highlights a bug that needs to be addressed?

[2019-04-28 18:18] drwl commented on #607
Thanks for the report. Looks like it's an issue also discussed in #552 if you want to take a crack at it @robturtle.

[2019-04-29 12:35] nicktime commented on #570
@drwl That's right.

[2019-04-29 17:02] drwl commented on #570
Thanks for adding the test. I've marked this as a bug and will wait off on merging the test until there's an appropriate fix, as otherwise it'll fail builds going forward.

[2019-04-29 18:33] nicktime commented on #570
Sure, you're welcome.

[2019-04-30 04:31] drwl commented on #597
I didn't see any mention of CircleCI in the output. But is the fix here to migrate to the [non-ruby version of test-reporter?](https://github.com/codeclimate/test-reporter)?

[2019-05-07 02:41] ybiquitous opened #617 "Incorrect tag `2.7.5`?"
It seems that the `2.7.5` tag is incorrect for `v2.7.5`. 🤔

[![Image from Gyazo](https://i.gyazo.com/46a7f0c9f90e91e4a75a56517f3595be.gif)](https://gyazo.com/46a7f0c9f90e91e4a75a56517f3595be)

Changelog:
https://github.com/ctran/annotate_models/blob/289621b82c8f1a6a56c0882d4ea34aabd722fcdf/CHANGELOG.rdoc

Not found page:
https://github.com/ctran/annotate_models/releases/tag/v2.7.5

[2019-05-08 06:45] drwl commented on #617
Good catch. It looks like it's fixed now.

[2019-05-08 09:10] ybiquitous commented on #617
Thank you! 😊

[2019-05-08 09:10] #617 closed

[2019-05-08 17:47] ctran commented on #563
2.7.5 was released a few days ago.

[2019-05-09 18:39] hallmatt commented on #563
I'm on annotate v2.7.5. Running  ```annotate``` seems to just annotate the routes.
Rails 6 rc1, ruby 2.5.1

Also running ```rake annotate -p after``` has the following error:

[code]

[2019-05-16 01:35] vnbrs opened #620 "undefined method `gsub' for nil:NilClass"
Hi!

First of all, thank you for this really useful gem that is a must in my Rails projects.

I've been messing up with Rails 6, and when I created a new migration/model and tried to annotate the files, it seems something got wrong, as you can see in the error messages below.

Here's my migration file:

[code]

And the model:

[code]

The migration ran fine, but is it something wrong I'm doing?

#

[2019-05-17 14:40] colbymelvin opened #621 "Negative argument in mb_chars_ljust for columns with long types"
Hello! Thank you for creating a very valuable tool. My workplace uses annotate_models on a near daily basis.

After upgrading to 2.7.5 recently, we have noticed that the annotations fail for some files, and not others. After some digging, I came across [this commit](https://github.com/ctran/annotate_models/commit/26142667a1da560e681fc0621857a160edf26007) which added the `mb_chars_ljust` method.

I

[2019-05-17 15:19] colbymelvin commented on #621
I have a fix [here](https://github.com/colbymelvin/annotate_models/commit/e66f98f095167d3524c2a6bfe202d095fc7f6737), and would like to submit a PR.

[2019-05-30 15:03] ysv opened #624 "Annotation puts wrong default value when we use Enumerize"
Describe your problem here.

Annotation puts wrong default value when we use enumerize attribute.

In model annotation I have integer field with string default value for attribute **state** which looks strange for me.

## Migration
[code]

## Model
[code]
## Commands

[code]

## Version

- annotate version  2.7.4
- rails version         5.2.3
- ruby version        2.6.2

[2019-06-04 20:57] ndiesslin commented on #580
I ran into this same error as well.

[2019-06-08 16:01] mihaibb commented on #593
you could use `annotate --force`

[2019-06-16 18:55] drwl commented on #563
Sorry for the delay everyone. This is my first time working with an open source project using the Github features like milestones for releases. I've since removed the v2.7.5 milestone and added v3.0.0.

I'll be taking a look at this for the v3 release.

[2019-06-18 07:59] a0x commented on #563
I believe this bug is related to `rvm`.

My colleague, who is in the same project with me and using `rbenv`, can execute `annotate` perfectly, while I am using `rvm` and failed to get the correct result from a successful executing of the same command.

Furthermore, I tried several commands including `annotate`, `rake annotate_models`, `rails annotate_models` and even with the prefix `bundle exec`.

[2019-06-18 19:22] bheemreddy181 opened #629 "Issues with ruby 2.6.3 upgrade"
Describe your problem here.

Seeing issues with ruby upgardes

## Commands

[code]

## Version

- annotate version : 2.7.5
- rails version : 5.2.3
- ruby version : 2.6.3

[2019-06-18 20:14] bheemreddy181 commented on #629
****** THIS IS A BLOCKER ***************

[2019-06-19 18:45] kamil98 commented on #620
shouldn't the table name be in plural form?

[2019-06-20 23:46] maxh opened #630 "AnnotateModels needlessly regenerates identical annotations when wrapper_close matches column_pattern"
The `column_pattern` regex here matched our `wrapper_close` string:
https://github.com/ctran/annotate_models/blob/5ac56e4740906a74f302b92b0c350979526e4f4b/lib/annotate/annotate_models.rb#L510

This caused `old_columns == new_columns` a few lines down to be false even though it should have been true.

[code]

Demo of regex matching our `wrapper_close` string:
https://regex101.com/r/0CMZ8M/1

## Com

[2019-06-26 02:40] tfreedman opened #632 "Using annotations to create database tables?"
The comments that annotate_models produces are super useful, and I can manually create a database table with them. I'm wondering if there's any automated way to read all the annotations in and recreate database tables if they don't exist, as an alternative to using migrations / schema.rb?

[2019-06-27 13:26] thisismydesign commented on #399
This issue is still present for me in `v2.7.5`

[2019-07-07 22:48] drwl commented on #620
@vnbrs is this still an issue you have? If so, I would try @kamil98's advice and make the migration create the table using the plural form. I haven't used Rails 6, however I don't think this is an annotate issue.

[2019-07-07 22:49] drwl commented on #632
I imagine it would be possible, however that would be out of the scope of this gem's functionality.

[2019-07-07 22:50] drwl commented on #629
Can you provide an isolated example of the code you're using? It's hard to tell what the issue is just from looking at the stacktrace.

[2019-07-07 22:52] drwl commented on #624
Just so I have a bit more context, what is `enumerize` and where is it coming from?

[2019-07-08 13:14] vnbrs commented on #620
@kamil98 @drwl Hey! Thanks for the help. Unfortunately, this is still an issue. The thing is, the plural of sheep is sheep.

[2019-07-10 05:47] drwl commented on #632
Going to be closing issue. If you feel that it's wrongly closed please comment and reply.

[2019-07-10 05:47] #632 closed

[2019-07-10 20:21] #594 closed

[2019-07-15 12:26] igortice opened #640 "problem annotation exclude controllers"
when I run the command, regardless of whether I configure and have the controller ignored, the command keeps generating annotations for the controllers
## Commands
![Captura de tela de 2019-07-15 09-21-18](https://user-images.githubusercontent.com/1306646/61215705-f6cd1a80-a6e1-11e9-9ca3-b4e25dd598bc.png)
![Captura de tela de 2019-07-15 09-21-32](https://user-images.githubusercontent.com/1306646/6

[2019-07-18 22:16] ysv commented on #624
@drwl Hello
Here it is https://github.com/brainspec/enumerize

[2019-07-23 09:55] mainameiz opened #642 "Inconsistent types in db/structure.sql and annotations"
Some columns in my project has `bigint` type.
In `db/structure.sql` these columns has type `bigiint(20)`, but in annotations they has `bigint(8)`.

Line from `db/structure.sql`:
[code]

Line from annotations:
[code]

I investigate the following:

[code]

`@limit=8` is used in annotations.

## Version

- annotate version - 2.7.4
- rails version 5.1.7
- ruby version - 2.5.1

Is it a bug?

[2019-08-14 12:00] igorlemosvicente opened #644 "How to add models in additional files within modules?"
I have models that are within modules.
I also have a folder called queries.
Examples of files in the queries folder:
`app/queries/a_module_name/model_names_query.rb`
`app/queres/model_names_query.rb`
The model names are pluralized.
I don't know what pattern I should use in the "additional_file_patterns" option.
Here's my configuration:
[code]
This configuration is the default configuration plus th

[2019-08-19 19:46] vizcay commented on #640
Same problem here,

* `'exclude_controllers'       => 'true'` is not being respeted at `auto_annotate_models.rake`

* There is no `annotate --exclude controllers option`.

[2019-09-03 01:00] #563 closed

[2019-09-03 01:01] drwl commented on #563
Just closing the loop for everyone, I added a fix for this issue. Will cut and publish the new gem shortly.

[2019-09-03 01:51] ksouthworth commented on #563
Great! thanks so much

[2019-09-03 14:52] alexventuraio commented on #563
Great @drwl, but how do we know when the update is ready? is there a way to do it within the rails app or we need to go to ruby gems to check this out manually?

[2019-09-03 16:07] drwl commented on #563
Just waiting for some help from @ctran (repo owner) to push it to Rubygems.
In the mean time you could make your gemfile point to this git repository.

https://bundler.io/guides/git.html

On Tue, Sep 3, 2019 at 7:52 AM Alejandro Ventura <notifications@github.com>
wrote:

--
Sent from phone

[2019-09-08 13:51] posiczko-stateless commented on #620
Hello,

I have the same experience as @vnbrs in MRI 2.6.4 and Rails 6.0.0.

The issue seems to be related to the foreign keys when using `references` in migrations:

[code]
The last migration calling annotation results in

[code]

Thank you for a very useful gem!

Pawel

[2019-09-19 15:00] andrepcg opened #651 "Support for Rails 6"
Are you planning on supporting Rails 6 (and thus activerecord 6) soon?

What needs to be done in order to support such versions?

[2019-09-20 12:32] lyb124553153 opened #652 "unable to annotabe a model"
Describe your problem here.
[code]
if I  add a index on this table , the error goes away, strange

[code]
mannequin was annotated succes after if I add a index on uuid
it works but not a good solution for  me, I dont really a index on this table

## Commands

[code]

## Version

- annotate version v2.7.2
- rails version Rails 5.2.2.1
- ruby version 2.6.3

[2019-09-24 02:59] drwl commented on #568
@JustinMcDonald is this something you're having issues with? Would you be able to point to an example project so I can reproduce?

[2019-09-25 21:05] KelseyDH commented on #651
Is it breaking right now?

[2019-09-25 21:06] andrepcg commented on #651
@KelseyDH It's not but the gemfile imposes restrictions on the gems versions and activerecord is set to LESS than 6, not including

[2019-09-26 02:34] KelseyDH commented on #651
Are you sure this is still an issue?  The latest gem code shows:

[code]

It appears this is in the latest release also, so I think you just need to update your annotate gem.

[2019-09-26 04:11] drwl commented on #652
@lyb124553153 can you add more context to what Mannequin is and if you're using any gems outside of rails? An example project where this issue can be reproduced would be helpful.

[2019-09-26 04:14] drwl commented on #651
@andrepcg could you provide more information? If you could use the template that would be great.

# The Template:

Describe your problem here.

## Commands

[code]

## Version

- annotate version
- rails version
- ruby version

[2019-09-26 04:20] drwl commented on #579
@skunkworker In version 3.0.0 we've added an `–additional-file-patterns` flag. Does that suffice for your use case?

Currently waiting on v3.0.0 to get pushed to Rubygems there's been a bit of delay due to @ctran dealing with personal matters. If you would like to use latest development you can point your Gemfile to refer to github for the time being.

[2019-09-26 08:14] andrepcg commented on #651
Well that's weird because the last time I tried to install it complained about my activerecord version being too high. Just tried right now and works fine

[2019-09-26 08:14] #651 closed

[2019-09-26 14:00] skunkworker commented on #579
@drwl I'll take a look and see if it does work for my use case.

[2019-09-27 06:39] 9mm opened #657 "LoadError: cannot load such file -- annotate/parser"
2.7.x worked fine but 3.0 on rails 6 gives me an error:

[code]

## Commands

[code]

## Version

- annotate version: 3.0
- rails version 6.0.0
- ruby version 2.6.4

[2019-09-27 18:00] kapso commented on #657
Yea getting the same issue with those versions.

[2019-09-27 18:38] coderberry commented on #657
Same

[2019-09-29 11:52] TedTran2019 commented on #657
Oh man, I thought I was insane. I was trying everything to get it to work, but it wouldn't.

I'm on Ruby 2.6.4, Rails 6.0, and annotate 3.0.0 and I get the exact same error.

[2019-09-29 13:21] drwl commented on #657
Will take a look, thanks for the report.

[2019-09-29 13:25] drwl commented on #657
Will close this when `3.0.1` gets released.

[2019-09-29 13:55] drwl commented on #657
Released `3.0.2`, @9mm can you confirm?

[2019-09-29 14:56] 9mm commented on #657
I’m not at computer right now but I tested yesterday using master branch and it worked :) so I assume it’s good now. Thanks!

Sent from my iToaster

[2019-09-29 16:54] 9mm commented on #657
It works 👌🏼

[2019-09-29 16:54] #657 closed

[2019-09-30 09:09] gingerlime opened #663 "trouble with annotate after upgrading from 2.7.5 to 3.0.2"
I'm trying to upgrade from 2.7.5 to 3.0.2 but somehow it looks like annotate fails silently and doesn't work any more...

A couple of things:

* our CI pipeline runs `bundle exec annotate` to make sure no model annotations are missing. This now fails. Perhaps annotate no longer outputs "Model files unchanged" when there are no changes? I'm not sure
* I tried to create a simple migration to a table

[2019-09-30 11:20] nesrual commented on #663
+1

Same problem here using 3.0.2

[2019-09-30 21:10] drwl commented on #621
@colbymelvin I believe this should be working as of 2.7.5. Would you mind confirming?

[2019-09-30 21:11] drwl commented on #582
@joshk6 if this is still an issue, could you provide an example project repository where we could replicate it?

[2019-09-30 21:12] colbymelvin commented on #621
@drwl Confirmed - My org is no longer pointed at my fork! Thanks :)

[2019-09-30 21:13] drwl commented on #629
Closing this off since this needs more information. @bheemreddy181 feel free to reopen if it's still an issue and you could provide more info.

[2019-09-30 21:13] #629 closed

[2019-09-30 21:26] drwl commented on #621
Cool 😎gonna close this out.

[2019-09-30 21:26] #621 closed

[2019-09-30 21:37] drwl commented on #663
@gingerlime thanks for reporting. I appreciate the time and detail in the issue. There were [some changes](https://github.com/ctran/annotate_models/blob/develop/CHANGELOG.rdoc) to the way model annotations were done in v3.0.0, so it's possible it's due to that.

Would it be possible for you to provide an example repository for me to debug with?

[2019-09-30 21:40] drwl commented on #597
I'm able to reproduce locally using ruby 2.6.1. I don't think this project uses CircleCI but @ctran can confirm?

[2019-09-30 21:42] drwl commented on #663
Also would you mind posting your generated `auto_annotate_models.rake` if you have one? I have a guess of what might be happening.

[2019-10-01 11:09] gingerlime commented on #663
@drwl here's the rake task... It looks like models are set to false for some strange reason

[code]

[2019-10-01 11:12] gingerlime commented on #663
looks like changing it to `'true'` fixes the problem :) shouldn't this be the default?

(also wondering, why is this `'false'` (string) rather than `false` (boolean)?)

[2019-10-01 18:52] kapso commented on #663
Same here, switched to `2.7.5`, and now it works.

[2019-10-01 23:19] istrasci opened #665 "Position option: before class definition"
It would be nice if you had an additional position option to insert the annotation immediately before a class definition.  If I have a class defined within a module (or several modules) and the annotation goes at the top, the [YARD](https://yardoc.org/) documentation tool (and possibly other documentation tools) will see the annotation as the documentation for the module, NOT for the model class.

[2019-10-01 23:54] richard-viney opened #666 "Update rake dependency"
As of annotate 3.0.2 the rake dependency in the Gemspec specifies `< 13`. However, rake 13.0 was recently released and the only breaking change was dropping Ruby versions prior to 2.2. See https://github.com/ruby/rake/blob/master/History.rdoc.

Relaxing this version cap to `< 14` should be safe to do and would allow apps to use the latest version of rake.

Thanks!

## Version

- annotate 3.0.2
- r

[2019-10-02 02:11] drwl commented on #666
@richard-viney thanks for reporting, I just merged in #659 so `develop` branch should be able to work for now.

[2019-10-02 13:39] bartoszkopinski commented on #663
Looks like the `models` attribute now needs to be present and explicitly set to `'true'`, otherwise annotate doesn't work. I didn't have this attribute added to my `auto_annotate_models.rake` when it was created (but that was a while ago).

[2019-10-03 05:02] skunkworker commented on #579
I've been looking at the syntax for the flag and it seems to cover the behavior when you have a standardized format, like a `app/lib/forms` directory.

In the case I am using `annotate` right now there isn't a way to be more specific, like saying all files under the following folder `/app/path/to/folder` should be a `FooBar` model. I believe this is because I'm using modules and lots of service ob

[2019-10-03 20:13] ctran commented on #579
I don't think this is the right path to take, it seems to be too manual for my taste to be in the library.

How about allowing the mapping function to be defined:

[code]

[2019-10-03 20:16] ctran commented on #597
We don't need CircleCI.  Where is the PR that shows this?

[2019-10-04 08:28] drwl commented on #663
@gingerlime @kapso @bartoszkopinski @nesrual do yall think a post install message would be helpful? Or any thoughts on ways to make it easier for folks to upgrade from v2 to v3?

[2019-10-04 08:43] gingerlime commented on #663
@drwl can you explain why annotating models isn't true by default? At least for me, I started using the gem when it was called `annotate_models`, so based on the name alone, its primary and obvious purpose was to annotate models.

I can understand that now the gem branches off to other types of annotations, and doesn't want to force users into any specific choices though.

Perhaps the generator ca

[2019-10-09 11:33] lchojnowski commented on #644
+1, have the same problem:

[code]

And:

[code]

Does nothing.

[2019-10-09 21:21] drwl commented on #663
Sorry for the delay, had been on vacation and had some downtime. Now that I'm back I'm catching up on everything.

@gingerlime there's not really any reason. Just happens to be a regression (?) from work done in #647. I don't have strong feelings for either approach. I'm favoring an upgrade generator as it would make this less opinionated and seems to be a simple path forward.

Happy to take any P

[2019-10-11 06:21] openscript commented on #666
The annotate gem forced my environment to downgrade the rake version, which broke my test environment.
[code]
I confirm that #659 fixes the issue! :+1:

Thank you :)

[2019-10-12 19:18] TedTran2019 commented on #663
Ohh, I thought it was a bug but it was just a feature.

I actually agree with gingerlime, it's really weird the gem's defaults are set to "do not annotate", when most people use the gem specifically to annotate their models and routes. Maybe continue with this same approach but set the default to 'true' instead of 'false'?

[2019-10-15 10:35] MicMicMon commented on #663
Have been running into the same issue (silently as annotate updated itself to 3.0.2 after a `bundle update`).
I second the fact that it would be more friendly if an update guide/script should enforce the previously working behavior.

I did a new `rails g annotate:install` overwriting my previous config and tailored the settings from there. It works fine now. Thanks!

[2019-10-16 03:59] lyb124553153 commented on #652
[code]

I copy the migration to a new project,  but the issue doesnt happen. got confused

[2019-10-17 15:42] manme opened #673 "Newest version with rake fix was not published"
Describe your problem here.

## Commands

## Version

newest annotate version `release/3.0.1` was not published on rubygems, could we solve this issue?

[2019-10-17 17:31] rhiroshi commented on #673
3.0.1 [was not released](https://github.com/ctran/annotate_models/blob/develop/CHANGELOG.rdoc) and rubygems is at 3.0.2

[2019-10-17 17:48] manme commented on #673
Yes, but 3.0.1 is more fresh than 3.0.2 specially I see it by gemspec file, 3.0.1 supports rake Version up to 14, and 3.0.2 up to 13. Also in releases it’s visible that 3.0.1 is more fresh

[2019-10-17 19:06] jimmytang opened #674 "Wrong table annotations for models with same name, but different tables"
Describe your problem here.
Two different models, both with the same class name. One is inside a Rails engine inside the app, the other inside the main rails app. They are pointing to different underlying PostGres tables.

When running model annotations, both models show the annotations for the model inside the main app.

The expected result should be the model inside the main app has annotations

[2019-10-18 14:48] khataev opened #675 "Wrong indentation if column comments are in cyrillic (non-latin?)"
## Commands

[code]

## Version

- annotate version 3.0.2
- rails version 6.0.0
- ruby version 2.6.5

I'm using postgres db with pg gem 1.1.4

Annotate create wrong indentation when column comment is cyrillic (perhaps issue for any non-latin language), compare:

**pure latin**
![pure latin](https://user-images.githubusercontent.com/5956518/67103812-877a3180-f1ce-11e9-811c-221a02f444c5.png)

**with

[2019-11-04 18:56] dudo opened #679 "ActiveRecord::ConnectionAdapters::Column.new error"
When running `annotate`, models fail when they define virtual columns.

[code]

Where MyModel has

[code]

## Version

- annotate version 3.0.2
- rails version 5.2.3
- ruby version 2.6.5

[2019-11-06 00:30] softwaregravy opened #680 "Deprecation warnings"
I'm seeing deprecation warnings for ::Fixnum and ::Bignum

## Commands

[code]

## Version

Annotate 2.6.5
Ruby 2.6.5
Rails 5.2.3

[2019-11-09 16:51] drwl commented on #673
@manme @rhiroshi just pushed pushed 3.0.3 to Rubygems with the rake dependency fix.

[2019-11-09 16:51] #673 closed

[2019-11-09 16:53] drwl commented on #663
@TedTran2019 @MicMicMon I cut 3.0.3 and pushed it to Rubygems. It includes #671 so any new `rails g annotate:install` should produce a config that defaults to annotating.

[2019-11-09 17:00] drwl opened #683 "Migrating off of TravisCI"
Github Actions provides a way for us to automatically run CI and cut releases. @ctran has made progress on this. We want to migrate off of Travis as it's redundant.

Happy to collaborate with any folk(s) that want to take this on.

[2019-11-09 17:05] drwl opened #684 "Switch from rdoc to markdown"
We're using rdoc and it seems like other gems ([rspec](https://github.com/rspec/rspec), [pry](https://github.com/pry/pry), [rails](https://github.com/rails/rails)) are using markdown (`md`). Let's switch to stay current.

Happy to collaborate with any folk(s) that want to take this on.

[2019-11-09 17:18] drwl commented on #680
@softwaregravy looks like you're using an older version of Annotate as it gets patched later in https://github.com/ctran/annotate_models/pull/415.

[2019-11-09 17:19] drwl commented on #666
I cut a release for 3.0.3 that includes PR #659 so let me know if that doesn't work. @openscript @richard-viney

[2019-11-09 17:21] drwl opened #685 "Removing Ruby 2.2.X support"
Ruby 2.2.X is [no longer being supported](https://www.ruby-lang.org/en/news/2018/06/20/support-of-ruby-2-2-has-ended/) and hasn't been for a while. Let's remove support for it. Happy to collaborate with any folk(s) that want to take this on.

[2019-11-09 17:23] drwl commented on #568
I'm cleaning up old issues and closing this issue since there hasn't been any activity in a while. Feel free to reopen this if there's any more information that can be provided.

[2019-11-09 17:23] #568 closed

[2019-11-09 17:39] #591 closed

[2019-11-09 17:45] #675 closed

[2019-11-09 17:47] #624 closed

[2019-11-11 17:23] gingerlime commented on #663
Thanks @drwl. That's definitely better. I still wonder about the upgrade process though, because when I just upgrade the gem, then running annotate simply fails silently. It only works again after running `rails g annotate:install` ... I would still say it's not the best upgrade experience. Not complaining, but I think others can stumble over it just like I did...

[2019-11-11 17:28] drwl commented on #663
@gingerlime yeah that makes sense. I'll add a note to the README for now. I'll tag you in the proposed changes if that's alright with you.

[2019-11-11 17:29] gingerlime commented on #663
Sure. 👍 Thank you @drwl !

[2019-11-15 01:57] softwaregravy commented on #680
thank you

[2019-11-15 01:57] #680 closed

[2019-11-16 01:05] Tectract opened #688 "bundle install failled on annotate_models"
Fetching git://github.com/ctran/annotate_models.git
fatal: Could not parse object 'c952306966c9bae4438e4d40351561af3d8005c0'.
Revision c952306966c9bae4438e4d40351561af3d8005c0 does not exist in the repository
git://github.com/ctran/annotate_models.git. Maybe you misspelled it?

## Commands

`bundle install --without development:test --path vendor/bundle --binstubs vendor/bundle/bin -j4 --deploymen

[2019-11-16 21:17] softwaregravy opened #689 "Annotate namespaced models not working without --models"
I was trying to get annotate to annotate a new model I created, which is namespaced. It wasn't working. After trying several other things, using the `--models` caused it to correctly annotate the new model files.

IMHO, this should annotate the models without the --models option.

## Commands

[code]

## Version

- annotate (3.0.3)
- rails (5.2.3)
- ruby 2.6.5

[2019-11-20 06:06] philliplongman commented on #689
I had the same problem, but with Rails 6.0.1. A new model was not annotated until I manually ran `$ annotate --models`. It wasn't annotated automatically upon migration, and I had also tried just `$ annotate`.

[2019-11-20 06:12] philliplongman commented on #689
A thought struck me: I had run `bundle update` today. I checked and Annotate was one of the upgraded gems. I ran `rails g annotate:install` and overwrote the existing file. It's working correctly now.

[2019-11-20 19:08] KelseyDH commented on #663
Weird, my version 2 of auto_annotate_models didn't even have a `models` option to set to true, I had to manually add it.  So I imagine this version update is pretty much breaking the builds of everybody, many _silently_ as they expect their migrations to still be annoyed.

[2019-11-21 05:23] krtschmr opened #690 "docs wrong"
docs say:

but if i run it, i get a mess

[code]

[2019-11-22 07:29] lazyb0ne commented on #562
another way to fix it:
In base model:
def self.table_name
    self.prefix_str + self.class_name.underscore.pluralize
end
and it works :)

[2019-11-22 11:17] khataev commented on #675
Downloaded new version of annotate gem (3.0.3), but nothing changed... I ran rake task
` be rake annotate_models`

[2019-11-22 22:41] afittro commented on #620
Any updates? This is still an issue and still affected by references in migrations. Rails 6.0.1, Ruby 2.6.5, Annotate 3.0.3

[2019-11-29 13:11] vizcay commented on #640
Still happening with v3.0.3 and Rails v6.0.0:

1. Created new Rails project with postgres.
2. Created a simple scaffold.
2. Executed `rails g annotate:install` and edited `auto_annotate_models.rake`.
3. Changed `exclude_controllers` to `true`.
4. Executed `bundle exec rake annotate_models`.
5. The gem still annotated controllers.

@ctran are you willing to review a PR for this bugfix?

[2019-12-02 04:19] drwl commented on #620
Hi folks, I merged in #695 can yall try using what's in the develop branch?

cc @vnbrs @posiczko-stateless @afittro

[2019-12-02 23:53] afittro commented on #620
-I updated my Gemfile:  gem 'annotate', git: 'https://github.com/ctran/annotate_models'
-I ran bundle update
-I ran bundle exec annotate
For each model, I got this:
Unable to annotate app/models/mymodel.rb: undefined method `gsub' for nil:NilClass
Unable to annotate app/models/mymodel.rb: no implicit conversion of nil into Array
-followed by "model files unchanged"

[2019-12-05 18:29] andrewek opened #696 "Deprecation Warning on Rails 6.1 - bin/rake routes"
On Rails 6.0.1, with the latest dependency, I received the following warning upon route annotation:

<pre>
DEPRECATION WARNING: Using `bin/rake routes` is deprecated and will be removed in Rails 6.1. Use `bin/rails routes` instead.
 (called from load at /usr/local/bundle/bin/rake:23)
config/routes.rb annotated.
</pre>

I'll do some research into what it would take to resolve this deprecation warni

[2019-12-05 18:58] Vasfed commented on #696
`` `rake routes`.chomp("\n").split(/\n/, -1) `` is used internally to generate routes annotation content, that's what causes rails to issue the warning (and this will really break with rails 6.1)

[2019-12-11 02:12] daveshah commented on #620
Just ran into this issue on Rails 6.0.1 when adding, then running a new migration.
I updated my Gemfile to:
[code]
This resolved the issue for me 👍
@afittro - in your comment above, you don't have the branch specified. Did you omit this in the Gemfile?

[2019-12-11 18:49] JoeHampton commented on #689
Running ```rails g annotate:install``` also worked for me.

[2019-12-11 19:30] afittro commented on #620
@daveshah that was it. Apologies for the oversight. Annotate now works as advertised again!

[2019-12-17 02:06] drwl commented on #666
Seems like it works so closing this for now. Feel free to reopen.

[2019-12-17 02:06] #666 closed

[2019-12-17 15:47] #684 closed

[2019-12-17 15:49] drwl commented on #688
@Tectract I'm not sure I have enough information to help. Could you post your file Gemfile?

[2019-12-17 15:51] drwl commented on #663
@KelseyDH yes you're right — this was a regression from previous work done. I'll have some time in next week or so during (American) holidays to add it. I was hoping someone would have been able to take it on in the mean time.

[2019-12-17 15:57] drwl commented on #652
@lyb124553153 not sure I can help too much either. I'm reading that it may be an issue specific to your project so gonna close this issue for now. If you run into it again feel free to re-open or make a new issue.

[2019-12-17 15:57] #652 closed

[2019-12-17 19:57] drwl commented on #685
Reference https://github.com/github/scientist/commit/5f7ee6862b080171c480a3cb3aebe0069f943ea5

[2019-12-18 00:22] drwl commented on #620
Thanks everyone for chiming in and helping others, really nice to see the open source community help out! It seems like this issue is fixed, going to close it out.

Feel free to reopen if I've misread the thread.

[2019-12-18 00:22] #620 closed

[2019-12-18 07:01] #570 closed

[2019-12-25 03:24] drwl commented on #582
Closing this out -- feel free to reopen if you still have this problem and can add more information.

[2019-12-25 03:24] #582 closed

[2019-12-25 19:42] drwl commented on #683
In my research I've found that Github Actions is currently not mature enough yet to handle the needs of the project. Things that would be nice to have:

- caching of ruby images
- being able to select ruby versions

So for the time being TravisCI will be here to stay.

[2019-12-25 19:44] drwl commented on #696
This gem needs some love and is definitely behind on being able to support newer Rails versions. Any PRs would highly appreciated.

[2019-12-30 00:13] drwl commented on #683
Also need to setup RVM in Github CI to run integration tests.

[2019-12-30 21:43] andrewek commented on #696
@drwl Cool - taking a look now.

[2020-01-13 10:44] pathaknv commented on #690
Even i got similar problem while using the `annotate --models`. It also added comments in the test/, specs/ and *.yml files.

Is it the expected behaviour?

[2020-01-13 19:37] Samsinite opened #720 "[Feature request] attribute YARD documentation for solargraph support"
Hi, love this gem, been using it for years.

Recently, I started using the [solargraph](https://solargraph.org/) ruby language server in my editor, which uses YARD documentation to provide intellisense like features for ruby projects. Is there any interest in adding support for this to annotate_models? If not, do you have any recommendations on the best approach to build an extension to this gem t

[2020-01-14 16:38] tvallois commented on #720
Hi,

I'm currently working on an implementation of this but i don't know if there is any interest here in adding yard support...

[2020-01-14 22:44] tvallois commented on #720
I cannot get my current implementation of this library in my gemfile using
[code]
The error is:
[code]
don't understand why. Any idea?

[2020-01-15 15:31] drwl commented on #689
Apologize for the change in expectation this was also brought up in #663. Right now my priorities on this project is to get the integration tests working before I get back into touching the actual code. Happy to review any PRs for this.

[2020-01-15 15:33] drwl commented on #696
@andrewek let me know if I can help with this at all. Right now my priority is to get integration tests working (currently they're skipped) and update them with newer versions of Rails.

[2020-01-15 16:14] drwl commented on #688
@tectract gonna close this out due to inactivity. Feel free to reopen and tag me if there are any updates with posting your gemfile or if your situation has been resolved.

[2020-01-15 16:14] #688 closed

[2020-01-16 21:43] sposmen commented on #253
I had the same issue. To make it work instead of using the `table_name_prefix` in the module I used the `table_name` set like:
[code]
And now it worked also in the engine using the `rake app:annotate_models` after the annotate installation.

[2020-01-16 22:02] timuckun opened #722 "[Feature request] Annotate models in included gems"
Sometime gems have their own models in their own namespace and these are not present in the app/models directory of your app. In these situations it would be very handy to have the annotate gem create a document someplace which annotates all those models.

[2020-01-20 19:05] drwl opened #733 "Add integration framework to project"
## Summary
This project can be used in many different environments and scenarios. Can be run using different versions of Ruby across different versions of Rails. Having integration tests that can help this project move forward and stay up to date when new versions come up.

Would like to add or fix these type of tests. Currently there exist [non-working integration tests](https://github.com/ctran/

[2020-01-22 07:00] pnomolos opened #738 ""requires" option is not honoured from the rake task"
Any files specified in the "requires" option are only required if the `annotate` command is run directly.

In reading through the code, it's due to `load_requires` only being called in `Annotate.eager_load`, which is only called via the annotate binstub, as far as I can tell.  It's also only used in a subset of cases - where `Annotate.include_models?` evaluates to true.

## Version

- annotate ver

[2020-01-22 20:24] Samsinite commented on #720
@tvallois would you be interested in assistance if support for documentation can be added?

[2020-01-22 20:25] Samsinite commented on #720
Ah I may have mis-understood, it looks like you meant that you are working on adding support for yard, but you weren't sure if the maintainers were interested in adding yard support.

[2020-01-22 20:35] tvallois commented on #720
hi @Samsinite,
there is already a pull request on this https://github.com/ctran/annotate_models/pull/724
Yeah we can collaborate to improve this.

[2020-01-27 19:45] robbevp opened #743 "Unable to annotate models due to undifenid method and no implicit coversion"
I'm currently not able to annotate my models (routes seem to work fine).
I've resetted the auto_annotate_models.rake, based on #663 but without any luck

## Commands

[code]
This error is present for all models that have changed.

If I run with trace:
[code]
(I've shortened all references to my apps folder since its path is quite long)

## Version

- annotate v3.0.3
- rails v6.0.2.1
- ruby 2.6.5

[2020-01-27 22:33] tmichaelreis commented on #644
It looks like the `additional_file_patterns` option wasn't introduced until [version 3](https://github.com/ctran/annotate_models/commit/f95913ba1b9c4c4c1fe357ca6160f02c955a6a38).

[2020-01-30 21:44] tvallois commented on #720
I've tried to use the develop version of this project in our rails app using YARD but i have an error
[code]

Any idea @Samsinite @drwl ?

[2020-02-01 04:38] drwl commented on #720
@tvallois Can you run it with `--trace`?

[2020-02-01 04:39] drwl commented on #738
@pnomolos can you provide more information? How are you using it?

[2020-02-01 20:38] drwl commented on #743
@robbevan can you share your `model/post.rb` file?

[2020-02-02 09:08] robbevp commented on #743
@drwl sure
[code]
Note that I get the exact same errors on three other models

[2020-02-02 09:17] robbevp commented on #743
I was just playing around with some settings in `auto_annotate_models.rb` and it does work if I set `show_foreign_keys` to false.
However the only common thing I can find is that they all have a `belongs_to` and my other models don't

[2020-02-03 10:46] tvallois commented on #720
[code]

[2020-02-05 17:28] maxh commented on #674
Looks like a fix for this might be adding an explicit self.table_name = "foo_bar" to one of the models.

[2020-02-07 23:04] pnomolos commented on #738
@drwl Hi!  Sorry for the delay.  I've been trying to use it both via the CLI as well as the integration that runs right after `db:migrate`.  The CLI works to be able to run my custom code, but the `db:migrate` integration doesn't - all other things the same.

[2020-02-11 06:07] #733 closed

[2020-02-17 02:23] #607 closed

[2020-02-17 02:24] drwl commented on #580
@awoodworth @ndiesslin are yall still encountering this problem with later versions?

[2020-02-17 15:27] ndiesslin commented on #580
@drwl I ended up manually going through files to remove the annotations, which isn't ideal. If it would help I could install again with a later version and test it out.

[2020-02-17 16:02] ndiesslin commented on #580
@drwl it looks like this is still happening with the later versions of the gem. Also, my environment is a little older so this could potentially be part of the issue as well.

**Command:**
`annotate --models --d`

**Error:**
`/usr/local/bundle/gems/annotate-3.0.3/lib/annotate/annotate_models.rb:729:in `get_model_class': file doesn't contain a valid model class (AnnotateModels::BadModelFileError)`

[2020-02-19 15:10] eni9889 opened #758 "no implicit conversion of Pathname into String"
Describe your problem here.

## Commands

[code]

example model below. Also, primary keys are uuid in case that matters
[code]

## Version

- annotate version: 3.0.3
- rails version: 5.2.3
- ruby version: 2.5.1p57

[2020-02-23 15:05] sandip-mane opened #761 "Unable to annotate routes at the bottom while it works correctly for Models"
Unable to `annotate_routes` at the bottom of the file. This is working for `models` as expected.

## Commands

[code]

## Configuration
[code]

## Versions

- 3.1.0
- 6.0.2.1
- 2.6.5

[2020-02-25 04:47] pocke opened #762 "Column defaults are displayed as String unexpectedly"
Since v3.1.0, we got incorrect default values by annotate_models.

It is a part of our diff between v3.0.3 and v3.1.0.

[code]

And a part of schema.rb for the columns definitions.

[code]

---

I guess it depends on RDBMS because the spec is not wrong.
We use PostgreSQL.

Probably this pull request is related. https://github.com/ctran/annotate_models/pull/677

## Commands

[code]

And I investiga

[2020-02-25 15:03] drwl commented on #762
@pocke interesting, thank you for a detailed report and investigation 👍.

Does look like it also happens for sqlite per [integration specs](https://github.com/ctran/annotate_models/blob/develop/spec/integration/rails_5.2.4.1_spec.rb#L37-L38).

[2020-02-25 15:45] drwl commented on #762
@pocke if you have an instance of postgresql could you share what output you get from running these commands?

[code]

[code]

[2020-02-25 15:46] drwl commented on #762
My example:

[code]

[2020-02-25 15:59] pocke commented on #762
Thanks for your investigation!

Sure! The following is the output with the same tasks table.

[code]

[2020-02-26 08:07] gingerlime commented on #762
Also seeing it, and we're also using PG. Let me know if there's anything I can help/test :)

[2020-02-26 09:47] Fornacula opened #764 "NoMethodError: undefined method `match?' for /^(true|t|yes|y|1)$/i:Regexp"
It would be good to see the version requirements in Annotate README. After upgrading Annotate from version 2.6.5 to 3.1.0 there seems to be Ruby version related problem. After upgrade it complains the following:

[code]
When checking the Ruby method `match?` I see that it was introduced in version 2.4.6 (https://apidock.com/ruby/Regexp/match%3F) while I'm using 2.3.8.

## Commands

[code]

## Vers

[2020-02-26 13:44] Fornacula commented on #295
Still seems to be an issue in version 3.0.3

[2020-02-29 01:45] drwl commented on #762
Just gonna revert #677 for now and make a feature request for doing enums.

[2020-02-29 02:28] drwl commented on #762
@gingerlime @pocke can yall test this branch? https://github.com/ctran/annotate_models/pull/768

[2020-03-01 01:52] drwl commented on #764
Thanks for the detailed report. For me, two solutions come to mind, one is bumping the required ruby version in the gemspec to >= 2.4 or to make changes to support older versions of Ruby.

Right now, I'm leaning towards bumping the required ruby version.

Doing so will make sure this doesn't happen again.

[2020-03-01 01:53] drwl commented on #764
I'm curious @Fornacula, and if you don't mind me asking, what are the reasons you're still using an older version of Ruby and Rails?

[2020-03-03 20:46] a0s commented on #758
I've got same problem with namespaced models. Structure of files are:

[code]

## Error

[code]

## Settings

[code]

## Version

* annotate (3.1.0)
* rails (6.0.1)
* ruby (2.6.3)

## Temporary fix (for me)
Delete empty mod**u**l definitions (to prevent autoloading, eg `/app/models/rosstat.rb` and `/app/models/rosstat/people_income.rb`), and add `self.table_name = "blablabal table name"` in every

[2020-03-03 21:14] pnomolos commented on #738
@drwl Are you still looking for more information for this?

[2020-03-12 14:11] JanStevens opened #775 "Version 3.1.1 not released?"
Hello 👋

Trying to upgrade to latest version 3.1.1 so the default annotations are back ok but it seems like the Gem is not released? I see there is a change log and a tag

## Commands

[code]

## Version

- annotate version: 3.1.0
- rails version: ~> 5.2.4
- ruby version: 2.6.5

[2020-03-12 21:44] vfonic opened #777 "ActiveAdmin resources don't get annotated after migrations"
## Commands

[code]

## Output

### Actual

[code]

### Expected

[code]

(The only diff is that it's expected that ActiveAdmin resource gets annotated as well)

## Version

- annotate 3.1.0
- rails 5.2.4.1
- ruby 2.6.5

[2020-03-13 14:34] pcraston commented on #775
Yeah would be great if it could be released asap! 👍

[2020-03-22 01:51] tmr08c opened #778 "Issue generating annotations when a column comment has newline character"
When annotating a model with a column that had a comment that includes a newline character, the annotation will interpolate the newline character and add a non-commented line.

For example:

[code]
will generate the following annotation:

[code]

## Commands

[code]

## Version

- annotate version: 3.1.0
- rails version: 6.0.2.2
- ruby version: 2.6.5

[2020-03-22 12:05] tmr08c opened #780 "Yard doc style annotations do not update after migrations"
After generating annotations using the Yard doc format, running migrations does not update the annotations.

## Commands

[code]

Generates:

[code]

Generate a new migration and migrate:

[code]

Manually run annotations, but annotations are not updated:

[code]

## Version

- annotate version: 3.1.1
- rails version: 6.0.2.2
- ruby version: 2.6.5

## Notes

I believe the source of the problem is

[2020-03-24 04:14] drwl commented on #775
Hi all I apologize on the delay. There was an issue with our travis.yml config that prevented release job from happening. It's live now per https://rubygems.org/gems/annotate/.

[2020-03-24 04:15] drwl commented on #764
Closing this out as it's fixed in 3.1.1. Feel free to reopen.

[2020-03-24 04:15] #764 closed

[2020-03-24 04:15] drwl commented on #775
Closing this out as it's released. Feel free to reopen.

[2020-03-24 04:15] #775 closed

[2020-03-24 04:16] drwl commented on #762
This should be fixed in v3.1.1 which just got released.

[2020-03-24 09:17] pocke commented on #762
Thanks for releasing it! I've confirmed the problem has been fixed in v3.1.1.

[2020-03-24 13:47] gingerlime commented on #762
Same here! Thank you 👍

[2020-03-24 15:16] drwl commented on #762
Great to hear -- I apologize for the delay, life has been a bit craazy recently. Going to close this out. Feel free to reopen.

[2020-03-24 15:16] #762 closed

[2020-03-24 17:52] gingerlime opened #785 "annotate reports some annotations, but there are none. then reports no changes..."
When I run `bundle exec annotate`, it tells me that files were annotated, but no changes are made. Running it again somehow returns `Model files unchanged`

## Commands

[code]

## Version

- annotate version 3.1.1 (doesn't happen with 3.0.3)
- rails version 6.0.2.2
- ruby version 2.6

Running inside docker. This also happens on our CI ...

[2020-04-05 18:50] axhamre commented on #124
Still an issue, April 2020. Both what's in the README and suggested as first comment. Rails 6.0.

[2020-04-05 21:31] #778 closed

[2020-04-11 22:57] marcamillion opened #797 "Bundler GemfileError for Ruby 2.7.1 & Rails 6.0.2.2"
Whenever I run `annotate`, I get the following error:

[code]

## Commands

[code]

## Version

- annotate version 3.1.1
- rails version 6.0.2.2
- ruby version 2.7.1

[2020-04-11 23:07] marcamillion commented on #797
This seems to be related to this issue - https://github.com/rubygems/rubygems/issues/3284 - but none of the fixes there work.

[2020-04-11 23:52] marcamillion commented on #797
I fixed this issue by downgrading rubygems from `3.1.1` and then upgrading again to `3.1.2`.

This can be easily done (if using rvm) by:

`rvm install rubygems 3.1.1`

and then:

`rvm install rubygems 3.1.2`

[2020-04-11 23:52] #797 closed

[2020-04-23 20:14] pnomolos commented on #738
@drwl Following up on this.  Thank you :)

[2020-04-24 01:53] khaiql opened #800 "annotate -d doesn't respect model_dir config"
In the auto_annotate_model.rake file, I have setup model_dir config to generate nested Rails engines model folders. Something like this:
[code]

Running `annotate -d` doesn't remove annotation in the nested models. But it works when I had to specify directly with `--model-dir` arguments:

[code]

So I expect when running `annotate -d` alone, it should pick up the same `model_dir` config, right?

#

[2020-04-30 12:28] elliotcm commented on #758
@a0s Thanks for that, the `eager_loads_paths` issue was the cause for me.  We should put in a PR for the gem for that.

[2020-05-03 11:42] jimmynguyc opened #802 "TypeError: no implicit conversion of Array into String when using --additional-file-patterns"
## Commands

[code]

https://github.com/ctran/annotate_models/blob/407ace641c637567372c98f32a6af10bbb1bc901/lib/annotate/parser.rb#L56-L60

I believe saving an `array` into the `ENV` variable on line 59 is causing the issue.

## Version

- annotate version
3.1.1
- rails version
6.0.2.2
- ruby version
ruby 2.6.6p146 (2020-03-31 revision 67876) [x86_64-darwin19]

[2020-05-07 16:34] drwl commented on #738
@pnomolos sorry for the delay. Maintaining this gem wasn't a high priority for me after COVID started to take effect, however I'm back now. I'll try and loop back on this soon. My priority right now is getting PRs merged in.

[2020-05-09 04:14] javawizard commented on #761
Ditto - this is happening for me as well - route annotations are being added at the top by `bundle exec rake annotate_routes`, even with `position_in_routes` set to `after` in the Rake task. My `lib/tasks/auto_annotate_models.rake`:

[code]

[2020-05-09 18:11] #685 closed

[2020-05-12 07:26] estani opened #805 "[Feature request] add markings so the annotation can be mixed with other comments"
The comment block get replaced completely, which prevents other annotations/documentation for being used in the same position.

Proposed solution:

Add a marking to the beginning and end of the annotated comment block, so only that block get removed (and add option to behave like now, so annotations can be migrated)

A block might look like this:
[code]
Everything between `# == Schema Information`

[2020-05-17 04:24] twwright commented on #802
My immediate suspicion is that line 59 should read `env['additional_file_patterns'] = additional_file_patterns` not `ENV[...]`. This is how all the other `option_parser.on ... end` blocks are now written in the `parser.rb` file before the `env` hash gets passed to the `commit` method. Looks like this might be a simple fix?

It looks like this may have gotten left out of [this refactor](https://git

[2020-05-18 02:18] #761 closed

[2020-05-20 08:28] majkelcc opened #806 "Weird behavior of empty hide_default_column_types"
When `hide_default_column_types` configuration option is empty it falls back to the default, which is `NO_LIMIT_COL_TYPES = %w(json jsonb hstore)` (https://github.com/ctran/annotate_models/blob/develop/lib/annotate/annotate_models.rb#L299).

Is there a reason for this strange behavior? Could we change it? Currently, there's no way of clearing this setting to show defaults for all column types. Set

[2020-05-20 08:31] majkelcc commented on #806
I'm guessing that previously there was no `hide_default_column_types` configuration option, hence the fallback to the default value. Would distinguishing between this option missing (being nil`) and being set to empty be a proper solution?

[2020-05-27 16:15] stephenarifin opened #810 "Uninitialized constant (NameError) while annotating models"
I am receiving an uninitialized constant error when trying to annotate my models. This error does not occur on runtime so I'm wondering if there is an issue with the autoload when booting up the annotate task.

Here's my files:
`models/data_store/screening_group_data.rb`

[code]

`models/settings.rb`

[code]

And I get: `<class:ScreeningGroupData>': uninitialized constant Settings::USE_CASES (Name

[2020-06-11 20:18] geetfun opened #815 "Annotation support for Rails 6+ Multiple Database"
Apologies if this has been brought up, but I couldn't seem to find it. In Rails 6 (https://guides.rubyonrails.org/active_record_multiple_databases.html), there is support for multiple databases.

I noticed that annotate_models does not annotate models that's in a non-primary database.

## Version

- annotate version (latest)
- rails version (Rails 6 current, 6.0.3.1)
- ruby 2.7.1

[2020-06-17 08:39] umanoda opened #816 "annotate is not updated when adding a column(with comment)"
Annotate is not updated when adding a new commented column to a table that has commented columns.

## Commands

[code]

got / expected(- line)

[code]

## Version

- annotate version: 3.1.1
- rails version: rails-5.2.3
- ruby version: 2.6.5p114

[2020-06-25 10:35] MarcoPonchia opened #821 "annotate but not working"
I have  add `annotate` to my Gemfile and it install correctly latest version, but when i use `bundle exec annotate` it seems to run but it not gets or  updates any of my models or factories.

## Commands

[code]

## Version

- annotate version: 3.1.1
- rails version: 6.0.3.1
- ruby version: 2.7.1

[2020-06-28 08:11] dcangulo commented on #821
@MarcoPonchia

I did encounter this problem today, on previous versions, I just run `bundle exec annotate` and everything updates. But on version 3.X, this seems not the case anymore, but upon reading the documentation it says you must explicitly pass `--models` while annotating.

So the command would be:
[code]

See: [https://github.com/ctran/annotate_models#upgrading-to-3x-and-annotate-models-no

[2020-07-13 13:23] leonid-shevtsov commented on #815
Weird - for me it _does_ annotate all the models, _but_ confuses models with the same name that belong to different databases.

[2020-07-13 13:52] geetfun commented on #815
@leonid-shevtsov Great timing! Turned out I had misconfigured annotate. Fixed it and came back to update this.

[2020-07-13 13:52] #815 closed

[2020-07-15 04:57] vi-huynh commented on #764
For Ruby version 2.3.8,  you can  fix by  down version to 3.0.3
 ```gem 'annotate', '3.0.3'```

[2020-07-20 18:11] Mihail-K opened #825 "Support Customized Type-Mapping for YARD Syntax"
Currently, some column types (including built-in types) would are missing mappings for the YARD syntax option.
The most notable example is `bigint`, which the new default for primary and foreign keys in later versions of Rails (5.1 and onwards).

More edge case include types from extensions like `hstore`, `ltree`, `citext` (Postgres' case-insensitive TEXT type), the `money` type, `geometry` and `g

[2020-08-04 23:49] jshah opened #827 "Move Schema Information Location"
We originally positioned are schema information to the bottom position, however, we want to change it so it's at the top of our files. Updating the `auto_annotate_models.rake` to the correct position and running `db:migrate` doesn't fix it. Are there any suggestions to updating the position?

[code]

## Commands

[code]

## Version

- annotate (2.7.4)
- rails (5.1.6.2)
- ruby 2.4.6

[2020-08-04 23:51] ClayShentrup commented on #827
I support this at top.

[2020-08-25 10:32] ishe-ua opened #830 "Can gem works with namespaced models?"
I have  namespaces models like this one. After running gem I receive annotations in point (1). Can gem do this in point (2) ?

[code]

[2020-08-25 14:53] PhilCoggins opened #831 "Work with Postgres Covered Indexes?"
Postgres added covered indexes in v11 (https://www.postgresql.org/docs/current/indexes-index-only-scans.html) to help achieve Index-Only scans without having to index columns that you don't plan on filtering on. The annotation incorrectly shows that the column is a part of the index, when the column is not indexed, but the values do get included.

I'm happy to take a stab at adding this, but I don

[2020-09-06 21:18] n-rodriguez opened #834 "Unable to annotate <model> : can't modify frozen String: "decimal""
Describe your problem here.

## Commands

[code]

## Version

- annotate annotate-3.1.1
- rails  6.0.3.2
- ruby 2.7.1

[2020-09-12 12:25] a-suenami opened #836 "Comments by multi-byte characters are ignored"
Hi, everyone. So thank you for great product.

I occurred in trouble and want to hear everyone's opinion.

I'm Japanese developer so often add some comment for each database column in Japanese.

For example:

[code]

However, they're ignored because they don't match a regular expression which checks diff between old schema and new schema, It's specified [here](https://github.com/ctran/annotate_mod

[2020-09-16 07:06] zopelee commented on #436
Still happens on Ubuntu subsystem on Windows 10.

[2020-09-16 16:24] Tao-Galasse commented on #821
@dcangulo Since I upgraded my app to annotate 3, it also seems like my task in `auto_annotate_models.rake` doesn't work anymore.

Would you have any workaround for this ?

[2020-09-17 05:24] dcangulo commented on #821
@Tao-Galasse Sorry I don't know much about that. But my `auto_annotate_models.rake` works just fine and I'm using `gem 'annotate', '~> 3.1', '>= 3.1.1'` version.

[2020-10-06 06:11] denisoster opened #839 "[3.1.1] Annotate reads the default value from ActiveRecord::Enum. This bug or feature?"
Annotate reads the default value from ActiveRecord::Enum
This bug or feature?

[code]

## Version

- annotate v3.1.1
- Rails 6.0.3.3
- ruby 2.5.5p157 (2019-03-15 revision 67260) [x86_64-darwin19]

[2020-10-20 17:21] blackbiron commented on #295
as well as 3.1.1

[2020-10-22 09:21] younthu commented on #836
Same here

[2020-10-30 23:22] yasuf opened #841 "Is there a way to add a description for a column?"
This is not so much a problem/bug but more of a feature request (understandable if this is not part of the scope of this gem) but wanted to ask:

Will there be support to add a description for a column? let's say
[code]

[2020-10-30 23:30] yasuf commented on #841
I guess I need a way to add something to the column and to not be deleted by the automatic generation of the schema information, it could be something like:
[code]
where everything after the symbol (*) is ignored

[2020-10-31 02:42] overdrivemachines opened #842 "Annotate routes shows unwanted info in Rails 6"
When I annotate just the routes, I want to see all the routes that I created. However annotate also shows other routes like rails_postmark_inbound_emails, rails_direct_uploads which are related to Action Mailbox and Active Storage which I do not wish to see. Is there a way to suppress showing these routes in annotate?

## Commands

[code]

## Version

- annotate 3.1.1
- Rails 6.0.3.4
- ruby 2.7.2p

[2020-11-18 03:24] dcangulo commented on #842
@overdrivemachines If you're not using ActionMailbox or ActiveStorage you can disable their routes using this method: https://stackoverflow.com/a/58041853/9375533

[2020-11-18 04:41] overdrivemachines commented on #842
If we do that, Active Storage and Action Mailbox will be disabled too, won't they?

[2020-11-18 04:45] dcangulo commented on #696
@andrewek @drwl @Vasfed

What is the status here? What's stopping us from simply changing `rake routes` to `rails routes`, which for me works on Rails 6.1.0.rc1. Is it backward compatibility? So far `rails routes` also works on Rails 5.1.4. Are there any complications that I cannot see?

[2020-11-18 04:48] dcangulo commented on #842
@overdrivemachines

I think it just removes the routes, if you want to disable them completely you need to unrequire them.

Instead of:
[code]

You can do:
[code]

[2020-11-18 04:55] overdrivemachines commented on #842
@dcangulo Im not trying to remove the routes or disable any features. All I want is annotate --routes to not show those routes. Perhaps a new feature can be added to hide routes for Active Storage and Action Mailbox

[2020-11-18 05:01] dcangulo commented on #842
@overdrivemachines Oh, I see. We just have a different use case where I don't use both ActiveStorage and ActionMailbox so I can just safely remove their route for it not to appear in generated route comments.

[2020-11-24 18:40] drwl commented on #696
@dcangulo to be honest since covid and the pandemic has started (at least in USA), I've lost the energy to help maintain the project -- so it's been a while since I've revisited this.

[2020-11-24 20:06] Vasfed commented on #696
@drwl I think we can safely drop rails 4 support (it is EOL anyway, if anyone has an app on it - they can use older versions of annotate), opened a PR for this.

[2020-11-25 10:03] dcangulo commented on #830
Same problem but with using `additional_file_patterns` and `serializers`.

I have
[code]

Then in `lib/tasks/auto_annotate_models.rake`:
[code]

Any ideas?

[2020-12-08 15:21] elliotcm commented on #821
@Tao-Galasse I had to regenerate the rake file (`rails g annotate:install`) to get it working again.  Bear in mind this overwrites your rakefile so make sure you have any custom options somewhere.

[2020-12-15 08:15] joschl opened #845 "not working in Rails 6.1"
In rails 6.1, routes command moved from rake to rails (```rails routes``` vs. ```rake routes``` )

[code]

## Version

- annotate version git master
- rails version 6.1.0
- ruby version 2.7.2

[2020-12-15 08:56] joschl commented on #845
you get the old behaviour with sth like that:
[code]

[2020-12-18 12:23] choilive commented on #845
I'm using annotate on 6.1 just fine, although I havn't used the routes annotations. It looks like this issue is affecting just routes.

[2020-12-18 12:29] choilive commented on #834
Do you have `# frozen_string_literal: true` at the top of `camping_raw.rb` or the migration file with the create table..?

[2020-12-18 17:02] n-rodriguez commented on #834
Yes

[2020-12-19 01:07] choilive commented on #834
Yeah, thats why you're getting the error, it doesnt appear that this gem is string literal friendly, should work if you remove the frozen string literal line.

[2020-12-28 15:06] afuno commented on #845
Why has this command been deleted from Rails?

[2021-01-07 14:19] dcangulo commented on #845
#843 Will fix this issue. In my case, I currently used my forked version: https://github.com/dcangulo/annotate_models

[2021-01-10 15:09] ixti commented on #805
There are `--wrapper-open` and `--wrapper-close` params, which, I believe, should be respected in this case (they are not ATM).

[2021-01-30 19:45] edugonch opened #850 "model_dir Not working on rails 6.1"
I have an app with an engine, I add the engine dir to model_dir configuration.
'model_dir'                   => "app/models,components/core/app/models/core",

When trying to annotate the models nothing happen

## Commands

[code]

[code]

[code]

## Version

- 3.1.1-release
- 6.1.1
- 2.7.2p137

[2021-02-03 15:53] Epigene commented on #841
I could use comments also.

Rails5 supports adding comments about fields in the DB itself, and annotate will show those.
https://bigbinary.com/blog/rails-5-supports-adding-comments-migrations

Unfortunately, ad-hoc comments for existing fields are not supported that way.

[2021-02-09 22:20] prem-prakash commented on #845
Same problem here

[2021-02-23 06:13] wasabigeek opened #852 "Include default functions when annotating models"
Annotations will pick up default values but not default functions e.g. `CURRENT_TIMESTAMP`. Is it possible to add support for this? (Would be willing to contribute if so)

From digging a little, I _think_ this should be accessible via `klass.columns_hash[column.name].default_function` https://github.com/rails/rails/blob/v6.1.3/activerecord/lib/active_record/connection_adapters/postgresql/schema_st

[2021-03-11 04:41] ognjenio opened #854 "Request: (optionally) include scopes in the annotation as well"
It would be very useful if the gem would copy all the scope definitions with their line numbers to the top as well.

[2021-03-24 04:59] igaiga commented on #836
Same here

[2021-03-24 15:55] MGPalmer commented on #674
We've got the same issue, and this doesn't work for us :(

[2021-03-31 13:41] nard-tech opened #859 "CI is broken"
When I merged the latest `develop` branch to #793, CI failed.

I tried to fix this problems in #858, but I could not fix it.

In order to inspect causes, I added empty commit (cf. b5a930b in #858), and CI failed, while in #855 (merge commit for the latest `develop`) CI succeed.

As https://github.com/ctran/annotate_models/runs/2226347966 shows, there seems to be several causes.

## Version

- anno

[2021-03-31 13:47] nard-tech opened #860 "Bundle is locked to mimemagic (0.3.4) in integration tests"
Maybe related to #859

[mimemagic](https://github.com/mimemagicrb/mimemagic) used in integration test (v0.3.4) is outdated.

As https://github.com/rails/rails/issues/41750 shows, the license of mimemagic was changed to GPL 2.0 and reverted to MIT, and v0.3.4 was yanked.

The latest version of Rails (5.2.5, 6.0.3.6 and 6.1.3.1) do not depends on mimemagic, so we should use these newly Rails.

## Li

[2021-03-31 13:53] nard-tech opened #861 "Request: upgrade actions/checkout"
Maybe related to #859

Now https://github.com/actions/checkout V2 is released, so please upgrade.

As I reported on #859, I tried to fix broken CI in #858. At the same time I tried to fix this issue (cf. 11863b1), but I could not fix entire problems due to other complicated reasons.

So I did not upgrade `actions/checkout` by myself.

## Codes

https://github.com/ctran/annotate_models/blob/70aba78

[2021-03-31 13:58] nard-tech commented on #845
Maybe this issue is related to #859

[2021-03-31 14:06] nard-tech opened #862 "Bundler.with_clean_env is deprecated"
In Bundler 3, Bundler.with_clean_env is deprecated.

This methods is used several times in test codes for integration test.

## Codes

https://github.com/ctran/annotate_models/blob/70aba780b44c8fad14b76c2e051529a6c78299bc/spec/integration/rails_5.2.4.1_spec.rb#L14

## Links

* https://github.com/rubygems/bundler/blob/master/UPGRADING.md

## Version

- annotate version: 3.1.1
- rails version: 5.2.4

[2021-03-31 14:19] nard-tech opened #863 "chromedriver-helper is deprecated"
[chromedriver-helper](https://github.com/flavorjones/chromedriver-helper) gem is now deprecated and replaced to [titusfortner/webdrivers](https://github.com/titusfortner/webdrivers).

As I reported on #859, I tried to fix broken CI in #858. At the same time I tried to fix this issue (cf. af4d809), but I could not fix entire problems due to other complicated reasons.

cf. https://github.com/ctran/a

[2021-03-31 14:30] nard-tech opened #864 "Unsupported Ruby version is used in integration tests"
Maybe related to #859

Ruby 2.4 is no longer supported and the support of the Ruby 2.5 series ends on March 2021.

As I reported on #859, I tried to fix broken CI in #858. At the same time I tried to fix this issue, but I could not fix entire problems due to other complicated reasons. So I did not bumped Ruby versions for CI (I closed #857).

cf. https://www.ruby-lang.org/en/news/2020/04/05/suppor

[2021-04-05 10:05] mroach opened #866 "Multi-line column comments break annotated comment block"
Multi-line column comments are allowed. For example:

[code]

When annotating the models:
1. The lines after the first are not commented-out
2. The table of fields becomes very wide to the point where it's not usable.

[code]

## Possible changes

1. Figure out the table column width by the longest line e.g. `column_name_with_comment.lines.map(&:length).max`
2. Comment-out all lines

Another optio

[2021-04-06 06:32] shveikus commented on #845
Rails 6.1.3.1
ruby 2.6.5
gem version 3.1 ( master from git - the same behavior)

annotate --models

Throws exception:
[code]

[2021-04-06 10:38] ocarta-l commented on #864
Hi @nard-tech,

Can you check if https://github.com/ctran/annotate_models/pull/865 works for you ? :)
The issue was the removal of mimemagic (0.3.4) see [here](https://rubygems.org/gems/mimemagic/versions)

[2021-04-07 07:43] nard-tech commented on #864
Hi @ocarta-l
Ok, I will check #865.

[2021-05-06 03:16] tugayac commented on #845
This is the workaround I use:
[code]

[2021-05-06 12:15] huguesbr opened #872 "route annotation on controller?"
Route annotation annotate the `routes.rb`, it will be great if it also update the matching controller?

It's probably not too hard as the routes generated by `rake routes` contain the controller path at the end..

If you think it would be something useful, I'm happy to cook a PR for it.

[2021-05-10 17:24] #758 closed

[2021-05-16 16:09] #834 closed

[2021-05-17 05:44] usarshakya commented on #810
Have you got any solution to this? I am running into same error

[2021-05-17 16:04] stephenarifin commented on #810
Unfortunatley, no, i'm still facing that error.

[2021-05-19 15:57] joshleblanc commented on #872
For what it's worth, there is a gem that does this over yonder: https://github.com/nshki/chusaku

[2021-05-19 20:04] huguesbr commented on #872
Thx mate

[2021-06-01 06:58] sato11 commented on #866
#779 seems to have fixed this already and it's just not released yet 😢

The HEAD version does work, while it crams the comment in a single line which makes the table look unbalanced. It would be like this in the case presented above:

[code]

And I would prefer @mroach's suggestion to the current implementation.

[2021-06-01 07:15] sato11 opened #881 "When is the next release scheduled?"
So #866 is actually already fixed in #779, right?
Also I've seen a handful of PRs merged since the last release which is a year ago.

Now I thought it would be great if we could know if there is a plan for releasing the next version.
Could you make that happen? @ctran

By the way thanks for the neat product 🙂
I've been using it for a couple of years and your job has helped me a lot already. Cheers

[2021-06-01 09:19] lyb124553153 opened #882 "add new_column with chinese comment would cause skip annotate_one_file"
https://github.com/ctran/annotate_models/blob/e075a21481ecfea6c7fc984c0978ff807332af62/lib/annotate/annotate_models.rb#L378
## Commands

[code]

## Version

- annotate version  v3.1.1
- rails version v5.2
- ruby version v2.7.2

[2021-06-09 21:21] ctran commented on #881
I'll do a release either this weekend or next week, depending on my schedule.

[2021-06-10 01:46] sato11 commented on #881
Thanks for bringing a great news 😊 I'll look forward to it!

[2021-06-19 19:28] xcskier56 commented on #815
@leonid-shevtsov any tips on how to deal with models of the same name that belong to different databases? Aside from renaming obviously

[2021-06-28 11:18] regedarek opened #888 "How to use annotate with Rails 6.1 multiple databases feature?"
https://guides.rubyonrails.org/active_record_multiple_databases.html

With Rails 6 multiple databases feature, I can't annotate models because they are connected to multiple databases via `connects_to` block.

## Commands

[code]
Errors
[code]

## Version

- annotate version: `latest`
- rails version: `latest`
- ruby version: `latest`

[2021-07-08 21:52] overdrivemachines commented on #845
Where do I put this code?

[2021-07-09 00:46] overdrivemachines commented on #845
When will this be fixed?

[2021-07-09 01:14] tugayac commented on #845
@overdrivemachines You can put it in any rake file you want (probably in `routes.rake` in this case). Think of it just like any other rake task you'd create.

[2021-07-14 22:44] drewlustro commented on #92
I'm experiencing this issue on latest version `3.1.1`

[2021-07-19 23:38] ibrahima commented on #399
Yeah... I'm also on 2.7.5 and I don't get annotations added without using `--force`, if the annotations are otherwise up to date.

[2021-07-24 11:06] sato11 commented on #881
@ctran
Hi, how is it going? I'm looking forward for the release and I'd like to hear the updated information about it. Is everything alright? Let me know if there is something that I can help you with. Thanks!

[2021-07-28 20:01] afn opened #891 "Incorrect annotation of factory files when different models share the same table name in different databases"
Given a Rails application with multiple databases, tables in two databases with the same table name, and corresponding models with different names, some files get annotated with the wrong table's schema.

The issue is that some of the patterns include `%TABLE_NAME%`, which will be identical between the two tables, even though they have different model names.

I'll be following up with a PR shortly

[2021-08-23 21:24] richardjonathonharris opened #893 "Auto-annotate doesn't work when migrating one db in a multi-db setup"
We use annotate within a rails application with a multidb setup, which allows you to migrate all databases with `rails db:migrate` or just one of your databases with `rails db:migrate:db_name`. Annotate works as expected when running `db:migrate` but fails to run whenever you run `rails db:migrate:db_name`. Any tips on how to auto-annotate in both cases?

## Commands

[code]

## Version

- annotat

[2021-09-01 18:13] micodel opened #894 "Unable to Run "rails g annotate:install" with Annotate (3.1.1)"
Unable to run the `rails g annotate:install` command.

No annotate related commands appear in the list of available commands from `rails generate --help`

## Commands

[code]

## Version

- annotate (3.1.1)
- rails (6.1.4.1)
- ruby (3.0.1)

[2021-09-08 04:05] micodel commented on #894
`spring stop` resolved the issue

[2021-09-08 04:05] #894 closed

[2021-09-14 18:07] SystemNinja commented on #845
For those who are confused where to add code that tugayac posted and those that are following Getting Started with Rails - blog app, do following:

1. Open your project folder
2. Navigate to lib/tasks
3. Create file called routes.rake
4. Paste @tugayac 's workaround

[2021-09-14 20:07] hdamico opened #896 "Sorbet "typed" comment being deleted"
Hi everyone! I am getting a weird behavior whenever I have `typed` comment from Sorbet at the top. When I run `rake db:migrate` it moves the `typed` comment at the bottom of the annotations and then if I add a new column and run `rake db:migrate` again, it deletes the `typed` comment.
Example:
Before adding annotate gem
![image](https://user-images.githubusercontent.com/37642427/133326262-ea9409d6

[2021-09-14 20:17] hdamico commented on #896
I see that it deletes every comment that is below the annotations, is that expected?

[2021-09-29 13:20] aarona opened #901 "[ClassName] is not a class (TypeError)"
Running annotate I'm getting an error when it tries to annotate one of my `ApplicationRecord` classes. The stack trace points to the file and is complaining about it.

Here's the end of the stack trace (The class in question is named `Event`):

[code]
I thought maybe I needed to run `rake db:migrate` first and tried that but got a similar issue:

[code]

This is the entirity of my `Event` class in

[2021-09-29 13:56] maxcal commented on #901
The error means that Event is already defined as a module. It most likely does not have anything to do with this gem.

[2021-09-29 14:45] aarona commented on #901
I was pretty sure I was doing something wrong. I'll have to figure out where that module would be but my guess is `Event` is sort of a "reserved" name if its being used by Rails or something else.

Still it should be able to determine I want that particular class annotated and not some nebulous module somewhere in one of the gems I'm using in my project.

[2021-09-29 17:31] aarona commented on #901
Ok, I solved this problem. As @maxcal previously stated, its not the gem causing this issue but a conflicting Module/Class.

For me, my `Event` class was conflicting with `Listen::Event` module. The `listen` gem is being used by my `developement` environment in conjunction with spring to monitor changes in files so the server doesn't need to be reloaded every time you change files (this is probabl

[2021-09-29 17:31] #901 closed

[2021-10-02 19:53] nbaryshev commented on #480
I had a similar situation when I tried to add a new column to the scheme. What helped me is I found a migration file and manually deleted it.
After this, I added the field again and then migrated it
e.g.
`rails g migration AddFieldsToUsers firstname:string`
`rake db:migrate`

[2021-10-04 21:41] jurriaanschrofer commented on #893
Hi Richard,

After running into problems with `annotate` myself – in my case, it was not the multi database setup, but our application's many different directories for models – I have developed a gem which fixes the issues. This gem, `datagaze`, is heavily inspired by `annotate`, but simply tries to fix the problem you are experiencing. The gem is to be found at: https://github.com/jurriaanschrofe

[2021-10-04 21:52] jurriaanschrofer commented on #888
Hi Regedarek,

After running into problems with `annotate` myself – in my case, it was not the multi database setup, but our application's many different directories for models – I have developed a gem which fixes the issues. This gem, `datagaze`, is heavily inspired by `annotate`, but simply tries to fix the problem you are experiencing. The gem is to be found at: https://github.com/jurriaanschro

[2021-10-04 21:56] jurriaanschrofer commented on #882
Hey lyb124553153,

After running into many problems with `annotate` myself,  I have developed the gem `datagaze` which fixes those issues.

I expect that the gem might also resolve your issue. Would you like to try it out, and let me know if it has solved your problem?

The gem is to be found at: https://github.com/jurriaanschrofer/datagaze.

Background story of the gem: annotate's lookup system i

[2021-10-04 22:00] jurriaanschrofer commented on #850
Hi edugonch,

After running into many problems with `annotate` myself,  I have developed the gem `datagaze` which fixes those issues.

I expect that the gem might also resolve your issue. Would you like to try it out, and let me know if it has solved your problem?

The gem is to be found at: https://github.com/jurriaanschrofer/datagaze.

Background story of the gem: annotate's lookup system is oft

[2021-10-05 16:23] ajorgensen commented on #893
There is actually an included rake task that works for multi db setups: https://github.com/ctran/annotate_models/blob/70aba780b44c8fad14b76c2e051529a6c78299bc/lib/tasks/annotate_models_migrate.rake

I am not sure why this is not the default or actually how to properly install annotate to use this task. Per the comment i haven't seen rails plugins used in a long time but the file checks specificall

[2021-10-08 07:38] jedrekdomanski opened #902 "Disable annotations of factories and specs in the entire project"
The docs says

[code]
but in fact this commands annotates models AND factories and specs unless you specify -exclude... option which is confusing.
I'd like to be able to disable annotations of factories and specs in the entire project in an initializer (not with an env var) so that running `annotate --models` annotates just models as it should.

## Commands
[code]

## Version

- annotate (3.1.1)
-

[2021-11-10 20:14] icodeat9 commented on #679
Did you get to solve it?

[2021-11-12 16:49] micodel opened #909 "Annotation Location for additional_file_patterns"
There doesn't appear to be a way to get annotations to appear at the bottom of the file when using automatic annotations for files declared in additional_file_patterns.

The config settings (before/after) are specific to file types.

Could we add an additional config setting, perhaps `position_in_(additional/custom/patterns)` ?

I also wouldn't be opposed to having a more global position config se

[2021-12-10 18:54] mhenrixon opened #910 "Rails 7.0.0"
To be able to use annoate with rails 7, the dependency needs to be loosened up. It currently works with rails 7.0.0.rc1.

I have been using annotate with rails 7 alpha and now rc but I suspect that will break as rails 7 goes live because of `< 7.0` in gemspec on active record.

## Version

- annotate 3.1.1
- rails 7.0.0
- ruby 3.0.3

[2021-12-16 14:27] kurt-mueller-osumc commented on #910
Yep, same :D. Annotate was working fine with the Rails 7 release candidates.

[2021-12-16 19:57] excid3 opened #913 "Maintainer?"
@ctran would you like some help maintaining the gem and releasing updates?

I use annotate in almost every app (thank you!) and maintain ActsAsTenant and several other gems. Just want to help keep things running smoothly!

[2021-12-17 20:09] ryanb commented on #910
You may want to use dabit's fork from PR #912 until this is resolved.

[code]

[2021-12-29 15:20] excid3 commented on #913
Bump @ctran

[2022-01-04 20:41] Rex-am-I opened #916 "bundler: failed to load command: annotate"
After installing the annotate gem via the gemfile method, I ran the following command:
'bundle exec annotate --models'
I got an error with the following log:

bundler: failed to load command: annotate (/home/xceed/.rbenv/versions/3.0.2/bin/annotate)
/home/xceed/.rbenv/versions/3.0.2/lib/ruby/gems/3.0.0/gems/annotate-2.6.5/bin/annotate:152:in `<top (required)>': invalid option: --models (OptionPars

[2022-01-05 06:03] willyjie commented on #916
+1

[2022-01-05 08:28] Rex-am-I commented on #916
willyjie thanks. I suppose I can live with not specifying models.

[2022-01-06 10:49] nerixim opened #917 "[Feature request] Support database table comments"
Hi, thanks for your work (using in all my Rails projects).

In addition to [column comments](https://github.com/ctran/annotate_models/issues/433), Rails 5 [supports table comments](https://edgeguides.rubyonrails.org/active_record_migrations.html#creating-a-table) as well. It would be nice to support that too.

[2022-01-07 03:25] yskkin commented on #896
Even if `typed` is considered as magic comment, this form is invalid as magic comment
https://github.com/sorbet/sorbet/issues/952
https://github.com/ctran/annotate_models/blob/786394947c041f781df2ee0ea003e09452fa9dba/lib/annotate/annotate_models.rb#L42

[2022-01-09 18:14] addisonmartin commented on #910
Can we please get a new release with the Active Record (Rails) version relaxed? It seems like its working fine with Rails 7.

[2022-01-10 11:43] hdamico commented on #896
@yskkin I found a workaround by modifying some lines. Check my [fork](https://github.com/ctran/annotate_models/compare/develop...Nayya-com:develop).

[2022-01-11 19:40] bekicot opened #918 "Annotating database trigger."
Is annotating database trigger is something that in scope with annotate models?

It would be nice to have them.

[2022-01-12 13:50] kapso commented on #910
Any chance of a new release? Thanks.

[2022-01-17 00:20] bangn-ap opened #921 "Models are not annotated with zeitwerk folder collapsing"
Hi there,

First of all, thanks for the `gem` :)

There is an issue when I tried to annotate the models outside the `app/models`
with Zeitwerk folder collapsing.

Steps to reproduce:

- Put the models under `app/components/component_name/models`,
- Have `Zeitwerk` to collapse such folder

[code]

- Add the `models` folder the `annotate`'s gem settings

[code]

When running `db:migrate` the gem doe

[2022-01-24 20:43] KieranP commented on #913
Bump @ctran  - this gem is preventing me from upgrading to Rails 7

[2022-01-31 17:04] FlorianBruniaux commented on #910
@ctran Thank you for responding to my call for help on linkedin! You rock!

[2022-02-01 10:39] FlorianBruniaux commented on #913
@ctran Yes +1. My team and I (several ror developers) would love to help maintain the gem with you!
@ocarta-l , @clement1234, @winwave, @floriansr, @yao0204 💪🏻

[2022-02-03 18:38] ctran commented on #910
This is merged in https://github.com/ctran/annotate_models/pull/912

[2022-02-03 18:38] #910 closed

[2022-02-03 18:43] kurt-mueller-osumc opened #926 "To CTran and other maintainers: Thank you for this gem and the work y'all do"
I just want to thank @ctran, @dabit, and all the other maintainers of this gem for the work y'all did and have done. I enjoy using this gem and it's great having annotations right in the models file.

So... THANK YOU!!!!!!

[2022-02-07 22:58] kapso commented on #910
@ctran any plans of releasing this?

[2022-02-08 01:19] ctran commented on #910
It should be any time this week.  Just tying up loose ends.

On Mon, Feb 7, 2022 at 2:58 PM Kapil ***@***.***> wrote:

--
637472616e

[2022-02-09 19:20] brtrick opened #932 "Update rubygems.org version to work with Rails 7"
The annotate version on rubygems.org is still set to activerecord < 7.0. It would be a great help if rubygems could be updated with the latest fixes. Thank you!

[2022-02-11 09:40] barrywoolgar commented on #932
I was able to update to 3.2 today, it has the `< 8.0` requirement.

[2022-02-11 21:24] brtrick commented on #932
Yes, thank you, it is working now. Closing this issue.

[2022-02-11 21:24] #932 closed

[2022-02-12 06:04] overdrivemachines commented on #845
The annotated routes file has a lot of unwanted routes in my opinion. So came up with a fix. My lib/tasts/routes.rake file looks like:

[code]
The routes file gets annotated perfectly. Active Storage, Action Mail and Turbo routes are omitted which makes the annotated routes much cleaner. The awk command removes those unwanted routes. The sed command moves fixes the spacing.

[2022-02-15 06:51] bjeanes opened #935 "Column default incorrectly showing as `NULL`"
I have two models, both with a `state` field, both with a default value. `annotate_models` correctly reflected the default for both, until I ran a migration with `change_column :table, :col, :type, default: 'new-default'`. Now, the changed default is documented as `default(NULL), not null` (which doesn't even make sense) and I can't get it to show the correct default anymore, even after tearing do

[2022-02-15 06:58] bjeanes commented on #935
Strangely, if I run `rails db:rollback` the comment shows the restored default string `DEFAULT("pending_review")`:

[code]

[code]

Further, if I edit the migration to have _any_ default string _other than_ `'pending_review`, annotate documents the default as `NULL` and if I change even the `up` part to re-set the default as `pending_review` it documents it correctly.

This makes no sense to me...

[2022-02-15 07:02] bjeanes commented on #935
Oh damn... I think it's related to #768 or #677 or something in those code paths, but that at least allowed me to fix it.

The issue was that an `enum` on the model hadn't yet been changed to include the new value. I'm assuming there is some code in annotate to map the `enum` values to/from the raw DB value and this was returning a `nil` in Ruby, which was mis-described as a `NULL` from DB.

[2022-02-15 07:04] bjeanes commented on #935
Related: #839

This is VERY surprising behaviour. I expected this to be documenting the _database_ schema and its defaults, not mapping to/from application-level values (which in my case are the same as my enum is `enum :state, {submitted: 'submitted', foo: 'foo', bar:  'bar', ...}`).

[2022-02-15 07:04] #935 closed, assigned to nobody

[2022-02-15 21:05] kapso opened #936 "Rails 7 - datetime column comments are being converted into timestamptz"
In Rails 7, `datetime` column comments are being converted into `timestamptz`. Is this expected behavior?

Important to note that `timestamptz` is the underlying PostgreSQL table column, that we are using. But in Rails 6, annotate documents them as `datetime`

<img width="452" alt="Screen Shot 2022-02-15 at 12 58 19 PM" src="https://user-images.githubusercontent.com/344198/154148034-4ada7ba9-b328-

[2022-02-20 14:03] LimeBlast commented on #845
The snippet supplied by @overdrivemachines messes up the output of the annotation in the `routes.rb` file:

[code]

unlike what I get when using @tugayac's code:

[code]

I just figured you'd like to know - thank you to both for providing a fix to this issue.

[2022-02-23 16:56] JohnPettigrew commented on #845
The fix from @overdrivemachines works well for me (with the `sed` command to fix the spacing). I've added `/admin/` to the excluded routes because I use ActiveAdmin, which produces a load of its own routes that I don't need to see here! Thanks for the tip.

[2022-02-26 19:14] LucasBrandt commented on #845
The fix from @overdrivemachines mostly worked for me in rails 7, but spacing wasn't quite right even with the `sed` command. It might be because I don't have many routes currently. If anyone else has the same trouble, using `grep` instead worked:

[code]

[2022-03-08 16:23] ctran commented on #881
This is released - https://github.com/ctran/annotate_models/releases/tag/v3.2.0

[2022-03-10 18:56] Gregory280 opened #939 "my bad for the issue"
Everything is just fine in rails 6.1.4.6

## Version

- annotate version: the latest on rubygems.org
- rails version: 6.1.4.6
- ruby version 2.7.1

[2022-03-10 19:00] #939 closed, assigned to nobody

[2022-04-05 00:49] Nourfaress commented on #845
just uae rails routes /NOT/ rake routes
its working

[2022-04-08 21:03] Tianyi6679 opened #946 "Annotation fails for columns with comments"
`annotate` fails to capture update on columns whose comments are included in the annotation (with_comment: true)
https://github.com/ctran/annotate_models/blob/9d58694506129b959cd8febe0516e08b48d5836c/lib/annotate/annotate_models.rb#L518 this pattern seems to cause the issue because it cannot capture lines with these characters `/[\[\]():]/` in column comments.

Can we include these additional char

[2022-04-14 21:19] austin-wang commented on #845
Thanks @Nourfaress — that worked perfectly. `bundle exec rails routes`

[2022-04-29 14:23] cmer opened #951 "Comments get lost when generating annotations"
When there are already comments above a class definition, AnnotateModels deletes them when regenerating annotations.

Here's a short video showing the issue: https://cln.sh/Iw7NsPk7yEfmkyPWtIim

## Version

- annotate version: 3.2
- rails version: 5.2.6.2
- ruby version: 2.7.5

[2022-05-17 08:03] #830 closed

[2022-05-18 11:55] Epigene opened #953 "[Feature request] Place column comments at the end of the line"
Hi, kudos for maintaining a most useful gem.

My problem is that column comments from Rails migrations are being placed in brackets just after column name, needlessly pushing everything else far to the right.

## What is happening
In migration I have this
[code]

Then annotation is something like this:
[code]

## What would be better
Putting the comment at the end of the line would produce less wh

[2022-06-22 18:30] daniel-g commented on #852
is there any news on this one?

[2022-06-23 20:35] jderose9 commented on #830
was there any solution for this?

[2022-06-24 13:19] ctran commented on #859
See https://github.com/ctran/annotate_models/pull/959

[2022-06-24 13:19] #859 closed

[2022-06-24 13:21] ctran commented on #953
This make sense and the best way to get what you want is to submit a PR.

[2022-06-24 13:21] #953 closed, assigned to nobody

[2022-06-24 13:22] ctran commented on #926
Thanks!

[2022-06-24 13:22] #926 closed

[2022-06-28 11:02] ishe-ua commented on #830
No

[2022-07-03 15:03] nfedyashev opened #962 "YARD formatter doesn't bigint types well"
I wanted to switch the default formatter to YARD and from what I see bigint columns are not interpreted correctly

## Commands

[code]

## Before/after switching to YARD format

Please notice the `@return []` part
[code]
## Expected behavior

for bigint columns(id, organization_id) I believe it should be the following instead:

[code]

## Version

- annotate version 3.2.0
- rails version 6.1.5.1
-

[2022-07-05 19:44] alexeyr-ci1 commented on #902
In `lib/tasks/auto_annotate_models.rake`, you can put

[code]

(all of them are `false` by default).

[2022-07-05 21:20] joevandyk commented on #951
running into this as well

[2022-07-12 08:38] cheddachedda opened #963 "Allow annotations at bottom of file"
Describe your problem here.
I'd like to config so that annotations are appended to the bottom of the file, rather than the top.

## Commands

[code]

## Version

- annotate version `3.2`
- rails version `7.0.3`
- ruby version `2.7.4`

[2022-07-29 12:30] alexeyr-ci1 commented on #951
It works to add a blank line above the comment before annotating, but you need to find them first (I spotted it accidentally when reviewing a PR).

[2022-07-29 12:33] cmer commented on #951
Yes but obviously nobody remembers to do that on a large team :)
On Jul 29, 2022, 8:30 AM -0400, alexeyr-ci1 ***@***.***>, wrote:

[2022-07-29 12:33] alexeyr-ci1 commented on #963
It's already there:
[code]
Or in the rake task file, use `'position_in_class' => 'bottom'`, etc. in `Annotate.set_defaults`.

[2022-07-29 12:39] alexeyr-ci1 opened #964 "annotate --delete doesn't respect ignore_unknown_models"
I have a project where many files in `app/models` are not actually models. With `'ignore_unknown_models' => 'true'` they are skipped by `bin/annotate` as expected, but
[code]

## Version

- annotate version: 3.2.0
- rails version: 6.1.5.1
- ruby version: 2.7.2

[2022-07-29 16:35] alexeyr-ci1 commented on #951
Sorry, it's actually worse than I thought. It looked like it worked only because the comment wasn't getting regenerated. If I use `--force` (or do a schema change which forces a regeneration), then the first time eats the empty line and leaves the comment intact (so really hard to note in code review), and the next time eats the comment 🤣.

[2022-07-29 16:40] alexeyr-ci1 opened #965 "Running annotate after changing sorting doesn't reorder the columns in the new comment"
1. set `classified_sort` to `true` in `Annotate.set_defaults`
2. run `bin/annotate`
3. set `classified_sort` to `false`
4. run `bin/annotate`

The annotations remain the same as after step 2. If I run `bin/annotate --force`, I get the expected result.

## Version

- annotate version: 3.2.0
- rails version: 6.1.5.1
- ruby version: 2.7.2

[2022-08-04 10:57] matteolc commented on #896
@ctran Any chance of having @hdamico fork merged? We'd really like to use this gem but since it removes all Sorbet `# typed..` comments it's a blocker.
Happy to help if you need to. Thanks!

[2022-08-16 09:44] choosen opened #967 "Additional index annotation to other table with same name but with prefix"
Annotate is adding us additional indexes to other table with same name but with prefix.

Cause:
https://github.com/ctran/annotate_models/pull/405 provided code to remove table_name_prefix on index annotate, as some people have problem with `public.` prefix @ postgres.
Fixing prefix this way maybe can be valid but is not universal.

We use table_name_prefix for domain module table prefixes like thi

[2022-08-16 16:36] stayce commented on #480
Can confirm, thanks @hazi . I had to delete the annotations from the models after dropping a newly created db.

- ruby 3.1.2p20
- Rails 7.0.3.1
- annotate (3.1.1)

[2022-08-20 04:33] honeypc opened #968 "Unable to annotate: ActiveRecord::Encryption::Errors::Decryption"
I'm using the ActiveRecord::Encryption on column `email` and got this issue. Please help me to the right config
Thanks,

## Commands
[code]

## Version

- annotate version:  annotate-3.2.0
- rails version: 3.1.2
- ruby version: 7.0.3

[2022-09-08 19:33] stephenarifin commented on #810
I'm still facing this issue. Can anyone help?

[2022-09-09 08:01] jiikko commented on #836
Same here

[2022-10-04 14:02] bazay opened #969 "Annotate gem does not support Rails autoloader collapsed directories"
Annotate gem does not support Rails autoloader collapsed directories i.e.

[code]
In `config/application.rb`:
[code]

I've obfuscated the model names and namespace, but the end result is still the same.

## Commands

[code]

## Version

- annotate (3.2.0 96831c1)
- rails (7.0.3.1)
- ruby 3.1.2p20 (2022-04-12 revision 4491bb740a) [x86_64-linux]

[2022-10-11 09:52] guigs commented on #969
Here's a monkey patch we are using that find classes based on zeitwerk loader.
Our use case is for loading classes within namespaces. I'm not sure if it works with collapsed dirs, but maybe you can modify it to work.

Put in an initializer:

[code]

[2022-10-18 12:48] mhenrixon opened #973 "Please add a ruby version constraint to gemfile"
On ruby 2.3.8, I get the following error when trying to annotate (latest version):

## Commands

[code]

## Version

- annotate 3.1.0
- rails 4.1.16
- ruby 2.3.8

## The fix

I simply added the following monkey patch in an initializer:

[code]

Seems unnecessary to have to

[2022-10-28 13:40] Adeynack commented on #953
On it, since I want that for quite some time now for all projects we're working on at the company. And I finally have some capacity for a PR 🥳

[2022-11-14 05:09] overdrivemachines commented on #845
In most cases you only want to show routes that contain your model name and controller name. This takes care of all the spacing without the use of sed or awk:

[code]

[2022-11-24 02:06] ndbroadbent opened #975 "How should I set up a CI job to ensure that annotations are up to date?"
I searched the `--help` output, README, and GitHub issues, but I'm struggling to find a good answer. I want to run `annotate` in a CI job, and fail the build if any model annotations are not up to date. I was hoping that there would be an exit status of `0` when the models are all up to date, and an exit status of `1` when any file is updated. Even better would be a `--check` flag (or `--dry-run`)

[2022-11-28 09:01] ktimothy commented on #975
You can use `--frozen` flag. If anything needs annotation, the command with return exit status 1, failing a pipeline.

Keep in mind that you will need a database connection for annotate to run.